<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,member-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<script type="text/javascript">var SKIN = "__HSKIN__";var HHOME = "__HHOME__";</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="__HLIB__/html5.js"></script>
<script type="text/javascript" src="__HLIB__/respond.min.js"></script>
<script type="text/javascript" src="__HLIB__/PIE_IE678.js"></script>
<![endif]-->
<link href="__HCSS__/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__HCSS__/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__HLIB__/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__HLIB__/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>指定地理位置</title>
</head>
<body>
<div class="pd-20">
	<form action="savelocation" method="post" class="form form-horizontal" enctype="multipart/form-data">
		<div id="tab-category" class="HuiTab">
			
			<div class="row cl">
		      <label class="form-label col-3">用户所在地址：</label>
		      <div class="formControls col-5">
		       <input type="text" class="input-text" value="{$vo.c_address}" id="" name="address" placeholder="">
		      </div>
		      <div class="col-4"><a href="http://api.map.baidu.com/lbsapi/getpoint/index.html"  target="_blank"><font color="#9900FF">网页获取经纬度</font></a></div>
		    </div>
		    <div class="row cl">
		      <label class="form-label col-3">用户所在经度：</label>
		      <div class="formControls col-5">
		       <input type="text" class="input-text" value="{$vo.c_longitude}" id="" name="longitude" placeholder="">
		      </div>
		      <div class="col-4"></div>
		    </div>
		    <div class="row cl">
		      <label class="form-label col-3">用户所在纬度：</label>
		      <div class="formControls col-5">
		       <input type="text" class="input-text" value="{$vo.c_latitude}" id="" name="latitude" placeholder="">
		      </div>
		      <div class="col-4"></div>
		    </div>

		    <div class="row cl" id="listd1">
			    <label class="form-label col-3">是否为固定地址：</label>
			    <div class="formControls col-6">
					<span class="select-box">
						<select class="select" name="isfixed">
							<option value="0" <if condition="$vo.c_isfixed eq 0">selected="selected"</if>>否</option>
							<option value="1" <if condition="$vo.c_isfixed eq 1">selected="selected"</if>>是</option>
						</select>
					</span>
				   </div>
				   <div class="col-3"><span class="c-red">*暂时只用于商家店铺</span> </div>
			       <div class="col-3"> </div>
			</div>
			
		<div class="row cl">
			<div class="col-9 col-offset-3">
				<input type="hidden" name="ucode" value="{$ucode}">
				<input type="submit" value="提交" class="btn btn-primary radius">
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" src="__HLIB__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__HLIB__/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__HLIB__/Validform/5.3.2/Validform.min.js"></script> 
<script type="text/javascript" src="__HLIB__/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="__HJS__/H-ui.js"></script> 
<script type="text/javascript" src="__HJS__/H-ui.admin.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-category-add").Validform({
		tiptype:2,
		callback:function(form){
			form[0].submit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
	$.Huitab("#tab-category .tabBar span","#tab-category .tabCon","current","click","0");
});
</script>
</body>
</html>