<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<title>扫码支付</title>
		<meta content="扫码支付,小蜜扫码支付" name="keywords">
		<meta content="" name="description">
		<include file="Base@Public/header" />
		<link rel="stylesheet" type="text/css" href="__CSS__/scanpay/index.css?v=3.0.55">
		<style type="text/css">
			/*取消长按复制*/
			
			* {
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			.ajax-in-img{ position: fixed;left: 50%;width: 35%; top:50%;z-index: 10000;}
			.scanheadimg{overflow: hidden;}
		</style>
	</head>

	<body style="background:#eff0f5;">

		<div class="wrap-page" style="margin-bottom:13%;">
			<ul class="scanpay-ulli">
				<li>
					<div class="divtab scanheadimg" style="width: 16%;margin: 0 auto 2% auto;">
						<img src="{$userdata['c_headimg']}" alt="">
					</div>

					<div class="divtab scaninfo c9 fs14">
						正在向<span style="color:#46a9fa; font-weight: bold;" class="fs16">&nbsp;&nbsp;{$userdata['c_nickname']}小店&nbsp;&nbsp;</span>支付
					</div>
				</li>
				<li>
					<div class="bgcolor scanbody divtab" style="padding: 0;">
						<div class="scanbox divtab" style="border-bottom: solid 1px #45aafa;padding:3%;">
							<div class="scantit c5 fs16" style="padding: 0 0 2% 0;">金额</div>
							<div class="scanmoney fs18 divtab"><span class="fl">￥</span><span id="pay_money" class="fs34 fl"></span><span style="width: 2%;float: left;"><img src="__IMG__/scanpay/guangbiao.gif" alt=""></span></div>
						</div>
					</div>
				</li>
			</ul>
			<!--<div class="dibtab c9 fs14" id="copyrights" style="padding:1% 4%;position:absolute;left:0;right:0;margin:0 auto;"><img src="__IMG__/scanpay/sm02_03.png" alt=""></div>-->
		</div>

		<div class="pup-bg ajax-before" style="display: none;z-index: 9999; opacity: 0.2;"></div>
		<div class="ajax-in-img" style="display: none;"><img src="__IMG__/scanpay/xiadan.gif" alt=""></div>

		<div id="keyboardDIV"></div>

		<include file="Base@Public/pubjs" />
		<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script type="text/javascript" src="__JS__/scanpay/fastclick.js"></script>
		<script type="text/javascript">
			wx.config({
				// debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
				appId: '<?php echo $signPackage["appId"];?>', // 必填，公众号的唯一标识
				timestamp: '<?php echo $signPackage["timestamp"];?>', // 必填，生成签名的时间戳
				nonceStr: '<?php echo $signPackage["nonceStr"];?>', // 必填，生成签名的随机串
				signature: '<?php echo $signPackage["signature"];?>', // 必填，签名，见附录1
				jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
			});

			window.onload = function() {
				$('.scanheadimg').height($('.scanheadimg').width());
                $('.scanheadimg').css("border-radius",$('.scanheadimg').width()+"px");
                $('.scanmoney img').height($('.scanmoney img').width()*8);
				$('.scanbox').css('line-height',$('.scanmoney img').height()+"px");

				$('.ajax-in-img').height($('.ajax-in-img').width());
				$('.ajax-in-img').css('margin-left',"-"+$('.ajax-in-img').width()*0.5+"px");
                $('.ajax-in-img').css('margin-top',"-"+$('.ajax-in-img').height()*0.5+"px");
			}

			var character = true;
			var chk_work = "";
			//生成扫码支付订单
			function CreateScanpayOrder() {
				$('#alipayform').remove();
				var money = $('#pay_money').text();
				var match = /^(0|[1-9]\d*)(\.\d{1,2})?$/;
				if(!match.test(money)) {
					mui.toast('请输入正确的支付金额！');
					$('#pay_money').text("");
					return false;
				}
				//获取判断用的对象
				var is_weixin = "<?php echo $is_weixin ?>";
				var is_aliApp = "<?php echo is_aliApp(); ?>";
				if(is_weixin == 1) {
					var payrule = 2;
				} else {
					var payrule = 1;
				}
				$.ajax({
					type: 'POST',
					url: '__URL__/CreateScanpayOrder1',
					cache: false,
					dataType: 'json',
					data: {
						'acode': '<?php echo $acode; ?>',
						'deskid': '<?php echo $deskid; ?>',
						"payrule": payrule,
						'money': money
					},
					beforeSend: function() {
						$('.symbol_pay').css('background', "#fff");
						$('.symbol_pay #paybtn').css('color', "#4d4d57");
						$('.scanmoney').css('color', "#ccc");
						document.getElementById('paybtn').onclick = null;

						$('.ajax-before').height($(document).height());
                        $('.ajax-before').show();
                        $('.ajax-in-img').show();
					},
					success: function(obj, textStatus) {						
						var result = eval(obj);
						if(result['code'] != 0) {
							mui.toast(result['msg']);
							$('#pay_money').text("");
							character = true;
							$('.symbol_pay').css('background', "#46a9fa");
							$('.symbol_pay #paybtn').css('color', "#fff");
							$('.scanmoney').css('color', "#000");
							document.getElementById('paybtn').onclick = function() {
								CreateScanpayOrder();
							}
						} else {
							$('#pay_money').text("");
							var mch_id = "<?php echo $mch_id; ?>";
							var data = result['data'];
							if(payrule == 2) {
								$('.ajax-before').css('display', "none");
                        		$('.ajax-in-img').css('display', "none");
								//调用微信JS api 支付
								WeixinJSBridge.invoke('getBrandWCPayRequest', {
									"appId": data['appId'],
									"nonceStr": data['nonceStr'],
									"package": data['package'],
									"paySign": data['paySign'],
									"signType": data['signType'],
									"timeStamp": data['timeStamp']
								}, function(res) {
									if(res.err_msg == "get_brand_wcpay_request:ok") {
										var url = WEB_HOST + "/index.php/Order/Scanpay/paysuccess?payrule=3&orderid=" + result['data']['orderid'];
										window.open(url);
										// ChangeOrderPay(result['data']['orderid'],3);
										character = false;
									} else if(res.err_msg == "get_brand_wcpay_request:cancel") {
										character = true;
										$('.symbol_pay').css('background', "#46a9fa");
										$('.symbol_pay #paybtn').css('color', "#fff");
										$('.scanmoney').css('color', "#000");
										document.getElementById('paybtn').onclick = function() {
											CreateScanpayOrder();
										}
									}
									WeixinJSBridge.log(res.err_msg);
								});
							} else { //进入支付宝支付
								if(is_aliApp) { //进入支付宝支付
									$('.wrap-page').prepend(data);
									$('#alipayform').submit();
								} else {
									mui.openWindow({
										url: WEB_HOST + "/index.php/Order/Apppay/index?orderid=" + result['data'],
										id: "Alipay"
									});
								}

								// window.location.href = "__URL__/doalipay?orderid=" + data;
								// AlipayJSBridge.call('tradePay', {
								// 	tradeNO: data['tradeNO']
								// }, function(ret) {
								// 	if(ret.resultCode == '9000') { //支付成功
								// 		var url = WEB_HOST + "/index.php/Order/Scanpay/success?orderid=" + result['data']['orderid'];
								// 		window.open(url);
								// 	}
								// });
							}
							

						}
					},
					error: function(textStatus) {
						setTimeout("mui.toast('网络繁忙，请刷新再试...');", 30000);
						$('.symbol_pay').css('background', "#46a9fa");
						$('.symbol_pay #paybtn').css('color', "#fff");
						$('.scanmoney').css('color', "#000");
						document.getElementById('paybtn').onclick = function() {
							CreateScanpayOrder();
						}
					},
					complete: function(msg, textStatus) {
						var result = eval(msg);
						if(result['code'] == 0) {
							$('.symbol_pay').css('background', "#fff");
							$('.symbol_pay #paybtn').css('color', "#4d4d57");
							$('.scanmoney').css('color', "#ccc");
							document.getElementById('paybtn').onclick = null;
						}

						// $('.ajax-before').css('display', "none");
      //                   $('.ajax-in-img').css('display', "none");
					}
				});
			}

			$(function() {
				FastClick.attach(document.body);
				document.body.onselectstart = document.body.oncontextmenu = function() {
					return false;
				}
				var _html = "";
                _html +='<div class="techsup"><img src="__IMG__/scanpay/aqjp_aq.png"/></div>';
				_html += '<div id="key" style="position:absolute;background-color:#eee;width:99.5%;bottom:0px;">';
				_html += '    <ul id="keyboard" style="margin:2px -2px 1px 2px" class="fs24">';
				_html += '        <div class="li-left">';
				_html += '            <li class="symbol"><span class="off">1</span></li>';
				_html += '            <li class="symbol"><span class="off">2</span></li>';
				_html += '            <li class="symbol"><span class="off">3</span></li>';
				_html += '            <li class="tab"><span class="off">4</span></li>';
				_html += '            <li class="symbol"><span class="off">5</span></li>';
				_html += '            <li class="symbol"><span class="off">6</span></li>';
				_html += '            <li class="symbol"><span class="off">7</span></li>';
				_html += '            <li class="tab"><span class="off">8</span></li>';
				_html += '            <li class="symbol"><span class="off">9</span></li>';
				_html += '            <li class="nbsp"><span class="off">&nbsp;</span></li>';
				_html += '            <li class="symbol"><span class="off">0</span></li>';
				_html += '            <li class="pointer"><span class="off">.</span></li>';
				_html += '        </div>';
				_html += '        <div class="li-right">';
				_html += '            <li class="delete"><div class="del-clear"><img src="__IMG__/scanpay/dele.png"></div></li>';
				_html += '            <li class="symbol_pay"><div class="paybtn" id="paybtn" onclick="CreateScanpayOrder()">支付</div></li>';
				_html += '        </div>';
				_html += '    </ul>';
				_html += '</div>';

				$("#keyboardDIV").html(_html);
                $('.techsup').css('bottom', $('#keyboard').height()+"px");
				styles();
				if($('#pay_money').text() == "") {
					$('.symbol_pay').css('background', "#fff");
					$('.symbol_pay #paybtn').css('color', "#4d4d57");
					$('.scanmoney').css('color', "#ccc");
					document.getElementById('paybtn').onclick = null;
				}
				$('#keyboard li').click(function() {
					var monstr = document.getElementById('pay_money');
					var unlen = monstr.innerHTML.length;
					if($(this).hasClass('delete')) {
						monstr.innerHTML = monstr.innerHTML.slice(0, unlen - 1);
						character = true;
						if($('#pay_money').text() == "") {
							$('.symbol_pay').css('background', "#fff");
							$('.symbol_pay #paybtn').css('color', "#4d4d57");
							$('.scanmoney').css('color', "#ccc");
							document.getElementById('paybtn').onclick = null;
						}
					}
					if($(this).hasClass('symbol') || $(this).hasClass('tab') || $(this).hasClass('pointer')) {
						if(character) {
							if($("#pay_money").text().length > 10) {
								character = false;
							} else {
								//判断第一位不为小数
								if($("#pay_money").text().length == 0 && $(this).text() == ".") {
									character = false;
								}
								var arrobj = new Array();
								arrobj = $("#pay_money").text().split('');
								var bl = '';
								for(var i = 0; i <= arrobj.length; i++) {
									if(arrobj[i] == ".") {
										bl = i;
										if($(this).text() == ".") {
											character = false;
										}
									}
									if(bl && i == parseInt(bl - (-2))) {
										character = false;
									}
								}
								$("#pay_money").append($(this).text());								
								$('.symbol_pay').css('background', "#46a9fa");
								$('.symbol_pay #paybtn').css('color', "#fff");
								$('.scanmoney').css('color', "#000");
								document.getElementById('paybtn').onclick = function() {
									CreateScanpayOrder();
								}

							}

						}
					}
				});
			});

			function styles() {
				var rh = $('.li-left').height();
				var deh = $('.delete').height();
				$('.li-right').height(rh);
				$('.paybtn').height(rh - deh);

//				var keyb = $('#key').height();
//				$('#copyrights').css('bottom', keyb + "px");
			}

			//主动回调订单
			function ChangeOrderPay(orderid,payrule) {
				$.post(WEB_HOST + '/index.php/Order/Backorder/ChangeOrderPay', {
					orderid: orderid,
					payrule: payrule
				}, function(obj) {
					var result = eval(obj);
					alert(result['msg']);
					if (result['code'] == 0) {
						var url = WEB_HOST + "/index.php/Order/Scanpay/success?orderid=" + orderid;
						window.open(url);
					} else {
						mui.toast(result['msg']);
						$('#pay_money').text("");
						character = true;
						$('.symbol_pay').css('background', "#46a9fa");
						$('.symbol_pay #paybtn').css('color', "#fff");
						$('.scanmoney').css('color', "#46a9fa");
						document.getElementById('paybtn').onclick = function() {
							CreateScanpayOrder();
						}
					}
				});
			}
		</script>
		<include file="Base@Public/footer" />
	</body>

</html>