<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<title>立即查看</title>
	<meta content="" name="keywords">
	<meta content="" name="description">
	<include file="Base@Public/header" />
	<link rel="stylesheet" type="text/css" href="__CSS__/leagshop/index.css" />
</head>
<body class="bgeb">
	<div class="wrap-page">
	<include file="Base@Public/pubheader" />
	<form action="" id="form1" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<input type="hidden" name="ucode" id="ucode" value="{$ucode}">
		<input type="hidden" name="returnurl" id="returnurl" value="{$returnurl}" />
		<div class="mui-content">
			<div class="js-myinfo divtab">
				<div class="js-myinfo-con bgcolor">
					<div class="mystore-img">
						<img src="__IMG__/member/hy8.png">
					</div>
					<div class="c3 fs16 mystore-name">
						<span>优c柠檬梅溪湖店</span>
						<p class="fs12 c3">不断创新互联网商业模式，破茧未来营销时代</p>
					</div>
					<p class="c9 fs12">加盟热线：152-7006-8282</p>
					<p class="c9 fs12">所属行业：饮料酒水</p>
					<p class="c9 fs12">地址：湖南省长沙市岳麓区文轩路28号</p>
				</div>

				<div class="cf fs14 js-invited-submit">同意</div>

			</div>

			<div id="console"></div>
		</div>
	</form>
	</div>
<include file="Base@Public/pubjs" />
</body>
<script type="text/javascript">
	window.onload = function() {
		/*$('.xm-bar-nav-right').text("关于");*/
	}

	//页面加载完js改变样式
	function yangshi() {
		
		//我的加盟店
		var sImg = $('.store-img').width();
		$('.store-img').height(sImg + 'px');
		$('.store-img').css('border-radius', sImg + 'px');
		
	}

	var pageindex = 1;
	var ctrls = true;
	var emptyval = true;

	var statu = '<?php echo $statu ?>';
	if(!statu) {
		statu = 1;
	}
	selectstatu(statu);
	mui('.mui-content').on('tap', '#tab_1', function() {
		selectstatu(1);
	});
	mui('.mui-content').on('tap', '#tab_2', function() {
		selectstatu(2);
	});
	
	function selectstatu(i) {
		statu = i;
		pageindex = 1;
		ctrls = true;
		emptyval = true;
		$('.js-tab ul li').removeClass('hover');
		$('#tab_' + i).addClass('hover');
		getdatalist();
	}

	getdatalist();
	$(window).bind('scroll', function() {
		if(($(window).scrollTop() + $(window).height()) >= ($(document).height() - 60)) {
			if(ctrls && emptyval) {
				getdatalist();
			}
		}

		// if($(window).scrollTop() >= $('.coupon-nav-tab').height()) {
		// 	$('.coupon-nav-tab').addClass('menu-fixed');
		// }
		// if($(window).scrollTop() < $('.coupon-nav-tab').height()) {
		// 	$('.coupon-nav-tab').removeClass('menu-fixed');
		// }
	});
	/*数据加载*/
	function getdatalist() {
		var url = "__URL__/?pageindex=" + pageindex;
		var _html = "";
		$.ajax({
			type: 'get',
			dataType: 'json',
			url: url,
			cache: false,
			beforeSend: function() {
				$('#console').css('display', 'block');
				$('#console').html('加载中...');
				ctrls = false;
			},
			error: function() {
				$('#console').css('display', 'block');
				$('#console').html('加载失败');
				ctrls = true;
			},
			success: function(obj) {
				if(pageindex == 1) {
					$('#data_list').empty();
				}
				var mgs = eval(obj);
				if(mgs['code'] == 0) {
					var data = mgs.data;
					if(!data ||  data.list.length <= 0) {
						if(pageindex == 1) {   //数据为空展示
							
						}
						emptyval = false;
					} else {
						if(pageindex <= data.pageCount) {
							pageindex++;
							var datalist = data.list;
							for(var i = 0; i < datalist.length; i++) {
								var dataarr = datalist[i];
								
							};
						} else {
							emptyval = false;
						}
					}
				} else {
					emptyval = false;
				}
				$('#data_list').append(_html);
			},
			complete: function() {
				yangshi();
				$('#console').css('display', 'none');
				ctrls = true;
				if (emptyval) {     //加载循环点击事件
					/*选择卡券*/
					$('.coupon-detail_'+pageindex).each(function(index) {
						var cid = $(this).attr('title');
						mui('.mui-content').on('tap', '#cancel_' + cid, function() {
							var ctype = $('#ctype_' + cid).val();
							tijiao(cid, ctype);			
						});
					});	
				}		
			}
		});
	}

	//确认对话框事件
	mui('.mui-content').on('tap', '.c-cqd-delete', function() {
		mui.confirm('删除后将无法继续领取，确认删除？', '提示', ['取消', '确认'], function(e) {
			e.index == 0 ? "" : delcoupon();
		}, 'div');
	});

	//点击事件
	/*mui('.mui-content').on('tap', '#cancel_' + cid, function() {
		var ctype = $('#ctype_' + cid).val();
		tijiao(cid, ctype);			
	});*/

	var tjsign = true;
	function tijiao() {
		if (tjsign) {
			tjsign = false;
			$.post("",{cid:cid,num:num},function(obj){
				var data = eval(obj);
				tjsign = true;
				if(data['code']==0){							
					mui.toast(data['msg']);
					mui.alert(data['msg']);
					setTimeout(function () {
						mui.openWindow({
							url: '__URL__/couponlist',
							id: 'couponlist'
						});
					}, 2000);
				}else{
					mui.toast(data['msg']);
				}
			});
		}	
	}

	//提交表单
	$('.xm-bar-nav-right').click(function() {
		putform();
	});

	var resign = true;
	function putform() {
		if (resign) {
			resign = false;
			var	attrbul = getFormAttrs('formdata');
			$.ajax({
				type: "POST",
			    url: '__URL__/saveBagsInfo',		
				data: "attrbul=" + JSON.stringify(attrbul),
				dataType: "json",
				success: function(json) {
						resign = true;
						var msg = eval(json);
						if (msg.code == 0) {
							mui.toast('保存成功');
							setTimeout(function () {
								mui.openWindow({url:'__URL__/index',id:"level"});
							}, 2000);
						} else {
							mui.toast(msg.msg);					
						}
					}
			});
		}	
	}
</script>

</html>