<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<title>邀请加盟</title>
	<meta content="" name="keywords">
	<meta content="" name="description">
	<include file="Base@Public/header" />
	<link rel="stylesheet" type="text/css" href="__CSS__/leagshop/index.css" />
</head>
<body class="bgeb">
	<div class="wrap-page">
	<include file="Base@Public/pubheader" />
	<form action="" id="formdata" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<input type="hidden" name="ucode" id="ucode" value="{$ucode}">
		<input type="hidden" name="returnurl" id="returnurl" value="{$returnurl}" />
		<div class="mui-content">
			<div class="js-invited-con divre">
				<div class="js-invited-phone divtab c9 fs14 bgcolor bborder" style="margin-bottom:0px;">
					<span class="c3 fl">加盟编号：</span>
					<input type="text" class="c3 fl" name="shopcode" id="shopcode" placeholder="请输入商家加盟编号" >
				</div>
				<div class="js-invited-phone divtab c9 fs14 bgcolor" style="margin-bottom:2%;">
					<span class="c3 fl">手机号：</span>
					<input type="text" class="c3 fl" name="phone" id="phone" placeholder="请输入邀请商家手机号" >
				</div>

				<input type="hidden" name="pucode" id="pucode" value="" >
				<div class="js-invited-verify fs12 divtab none" style="text-align:left;padding:2%;">*<span id="remindinfo"></span></div>

				<div class="js-invited-shop bgcolor showinfo none">
					<div class="js-invited-simg">
						<img id="headimg" src="__IMG__/member/hy8.png">
					</div>
					<span class="c3 fs14 fov" id="nickname">王仙森</span>
					<span class="c3 fs11" id="telephone">18670262270</span>
					<span class="c9 fs12 clamp2" id="signinfo">不断创新互联网商业模式破茧未来营销时代</span>
				</div>
				<p class="fs11 cb showinfo none">*请仔细核对邀请人信息</p>

				<div class="js-invited-submit fs16 cf none">确认邀请</div>
			</div>

			<!-- 弹框内容 -->
			<!-- <div class="invited-con bgcolor">
				<div class="invited-img">
					<img src="__IMG__/member/hy8.png">
				</div>
				<p class="cy fs14">优C柠檬邀请你成为加盟店</p>
				<div class="invited-info fs12 c3">
					<span>加盟热线</span><span>152-2052-1155</span><span class="cb">呼叫</span>
				</div>
				<div class="invited-operate divtab">
					<font class="c9">拒绝</font>
					<font class="cb">同意</font>
				</div>
			
			</div> -->

		</div>
	</form>
	</div>
<include file="Base@Public/pubjs" />
</body>
<script type="text/javascript">
	window.onload = function() {
		yangshi();
	}

	//页面加载完js改变样式
	function yangshi() {
		var bImg = $('.js-invited-simg').width();
		$('.store-bill-img').height(bImg);
		$('.store-bill-img').css('border-radius', bImg + 'px');
		$('.js-invited-simg').height($('.js-invited-simg').width());

		//弹框
		var IImg = $('.invited-img').width();
		$('.invited-img').height(IImg);
		$('.invited-img').css('border-radius', IImg + 'px');
	}

	$('#phone').blur(function() {
		tijiao();		
	});

	//获取用户信息
	function tijiao() {
		$.post("__URL__/UserInfo", {
			phone: $('#phone').val(),
		}, function(obj) {
			var result = eval(obj);
			if (result['code'] == 0) {
				var data = result['data'];
				$('.js-invited-verify').hide();
				$('#headimg').attr('src', data['c_headimg']);
				$('#nickname').text(data['c_nickname']);
				$('#telephone').text(data['c_phone']);
				$('#signinfo').text(data['c_signature']);
				$('#pucode').val(data['c_ucode']);
				$('.showinfo').show();
				$('.js-invited-submit').show();
				yangshi();
			} else {
				$('.js-invited-submit').hide();
				$('.showinfo').hide();
				$('#pucode').val('');
				$('#remindinfo').text(result['msg']);
				$('.js-invited-verify').show();
			}
		});
	}

	//提交表单
	$('.js-invited-submit').click(function() {
		putform();
	});

	var resign = true;
	function putform() {
		var shopcode = $('#shopcode').val();
		var reg = /^[0-9a-zA-Z]+$/;
		if (!reg.test(shopcode)) {
			mui.toast('请输入数字与英文编号');return;	
		}
		if (resign) {
			resign = false;
			var	attrbul = getFormAttrs('formdata');
			$.ajax({
				type: "POST",
			    url: '__URL__/Confirmsubmit',		
				data: "attrbul=" + JSON.stringify(attrbul),
				dataType: "json",
				success: function(json) {
						resign = true;
						var msg = eval(json);
						if (msg.code == 0) {
							mui.toast('发送邀请成功');
							setTimeout(function () {
								mui.openWindow({url:'__URL__/index',id:"level"});
							}, 2000);
						} else {
							mui.toast(msg.msg);					
						}
					}
			});
		}	
	}

</script>

</html>