<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="__IMG__/favicon.ico">
<title>商家后台管理--公告中心</title>
<link rel="stylesheet" type="text/css" href="__CSS__/agent.css">
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
  window.onload=function(){
    $('#li-1 a').addClass('hover');
  }
</script>

</head>

<body>

<include file="Common/head"/>

<div class="content-s w_960" style="padding-bottom: 3%;">

  <form action="__APP__/Home/Shopcheck/index" id="form1" method="get">
    <div id="search">
      <input type="text" name="keys" placeholder="输入搜索关键字">
      <input class="button" type="submit" value="搜索">
    </div>
  </form>
  <volist name="data" id="vo">
  <div class="notice-list <?php if($vo['c_infoid'] !=null) { ?>newsico<?php } ?>">
    <?php if (!empty($vo['c_img'])) { ?>
      <div class="notice-img fl">
        <img src="__ROOT__/{$vo.c_img}" alt="">
      </div>
    <?php } ?>
    <div class="notice-info fl" <?php if (empty($vo['c_img'])) { ?>style="width:91.5%;" <?php } ?> >
      <div class="notice-tit-tim">
        <div class="notice-tit fl">
          <a href="javascript:;" class="notice-tit-a <?php if($vo['c_infoid'] != null){?>grey<?php } ?>" onclick="loadinfo('{$vo.c_id}','{$vo.c_url}');">{$vo.c_ptitle}</a>
        </div>
        <div class="notice-time fr">{$vo.c_addtime}</div>
      </div>
      <?php if (!empty($vo['c_img'])) { ?>
      <div class="notice-desc <?php if($vo['c_infoid'] != null){ ?>grey<?php } ?>">
        {$vo.c_title}...<a href="javascript:;" onclick="loadinfo('{$vo.c_id}','{$vo.c_url}');" class="details <?php if($vo['c_infoid'] != null){ ?>grey<?php } ?>">查看详情</a>
      </div>
      <?php } ?>
    </div>
  </div>
  </volist>
  <div class="pages">
    <div>
     {$page}
    </div>
  </div>


<!--提示资料未完成-->
<div class="agent-tip-bg none"></div>
<div class="agent-tip-pop none" id="tip-step-1">
  <div class="agent-tip-step1">
    <img src="__IMG__/agent-notice.png" alt="">
    <div class="agent-tip-font1">您的资料还未完成</div>
    <div class="agent-tip-font2">请立即填写您的资料</div>
    <div class="agent-tip-btn1" onclick="surebtn()">确定</div><div class="agent-tip-btn1 agent-tip-btn2" onclick="cancelbtn()">取消</div>
  </div>
</div>

<div class="agent-tip-pop none" id="tip-step-2">
  <div class="agent-tip-step1">
    <div class="agent-tip-st2-tit">请选择区域经理资质</div>
    <div class="agent-tip-team"><input type="radio" name="agenttype"><span class="radio-font">企业区域经理资料</span></div>
    <div class="agent-tip-sign"><input type="radio" name="agenttype"><span class="radio-font">个人区域经理资料</span></div>
    <img src="__IMG__/agent-noticebg.png" alt="">
  </div>
</div>



</div>

</body>

<script type="text/javascript">
function loadinfo (id,url) {
    $.post('__URL__/readinfo',{Id:id}, function(obj) {
        var result = eval(obj);
        if (result['code'] != 0) {
           alert(result['msg']);
        } else {
            if (url == '') {
                window.location.href = '__URL__/detail?Id=' + id;
            } else {
                window.location.href = url;
            }
        }
    });
}

getstate();
function getstate(){
  var keyUrl = '__APP__/Home/Information/ReadInfostatu';
  $.ajax({url:keyUrl,dataType:"json",async:false,
      success:function(data){
        var msg = eval(data);
        if (msg['code']!=1000) {
          $('#tip-step-1').hide();
          $('.agent-tip-bg').hide();
        }else{
          $('#tip-step-1').show(200);
          $('.agent-tip-bg').show();
          $('.agent-tip-bg').height($(document).height());
        }
      }
  });
}

function surebtn () {
  window.location.href="__APP__/Home/Personal";
}
function cancelbtn () {
  $('#tip-step-1').hide();
  $('.agent-tip-bg').hide();
}

</script>
</html>
