<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,member-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<script type="text/javascript">var SKIN = "__HSKIN__";var HHOME = "__HHOME__";</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__HCSS__/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__HCSS__/H-ui.admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__HJS__/laydate.js"></script> 
<link href="__HLIB__/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<style type="text/css">
.ctrl_hidden{display:none;}
</style>
<script type="text/javascript">
function derive(){
   var east=$("#least").val();	
   var maxi=$("#maximum").val();
	if(east == '' || maxi == ''){
		alert('起始页或终止页不能为空');
	}else{
		$("#transmit").attr('action','__URL__/educeIndex');
		$("#transmit").submit();
	}
}
function refer(){
	$("#transmit").attr('action','__URL__/applyFor');
	$("#transmit").submit();
}
</script>
<title>提款申请</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 会员管理 <span class="c-gray en">&gt;</span> 提款申请 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	<form action="" method="get" id="transmit">
	<div class="text-c">
		条件搜索：
		<!-- <input type="text" class="input-text" style="width:200px" placeholder="输入会员注册手机" name="c_phone" value="{$post['c_phone']}"> -->
		<input type="text" class="input-text" style="width:200px" placeholder="输入会员昵称" name="c_nickname" value="{$post['c_nickname']}">
		<input type="text" class="input-text" style="width:200px" placeholder="输入提款编码" name="c_tx_code" value="{$post['c_tx_code']}">

		<input type="text" id="EntTime1" name="EntTime1" value="{$post.EntTime1}" placeholder="开始时间" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="laydate-icon"/>
		-
		<input type="text" id="EntTime2" name="EntTime2" value="{$post.EntTime2}" placeholder="结束时间" onClick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" class="laydate-icon"/>&nbsp;

		<span class="select-box inline">
		<select name="c_state" class="select">
			<option value="">选择状态</option>
			<option value="sqz" <if condition="$post['c_state']  eq 'sqz'">selected="selected"</if>>申请中</option>
     		<option value="1" <if condition="$post['c_state']  eq 1">selected="selected"</if>>申请成功</option>
     		<option value="2" <if condition="$post['c_state']  eq 2">selected="selected"</if>>申请失败</option>
		</select>
		</span>
		<input type="hidden" name="ucode"  value="{$ucode}">
		<button type="submit" class="btn btn-success radius" onclick="refer()"><i class="Hui-iconfont">&#xe665;</i>搜索</button>

		<div class="cl pd-5 bg-1 bk-gray mt-20"> 
			<span class="l">
				<input type="text" name="least" id="least" size="5" value="{$post.least}" placeholder="起始页必需从1开始" class="input-text" style="width:150px"/>
				&nbsp;&nbsp;页至&nbsp;&nbsp;
	    		<input type="text" name="maximum" size="5" id="maximum" value="{$post.maximum}" placeholder="终止页不能超过最大页数" class="input-text" style="width:150px"/>
	    		&nbsp;
				<a href="javascript:;" onclick="derive();" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe644;</i> 批量导出</a>			
			</span> 
			<span class="r">共有数据：<strong>{$count}</strong> 条</span> 
		</div>
	</div>
	</form>
	<!-- <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l" ></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div> -->
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="30">ID</th>
				<th width="60">编码</th>
				<th width="100">用户昵称</th>
				<th width="40">头像</th>
				<!-- <th width="50">代理商</th> -->
				<th width="50">申请人姓名</th>
				<th width="80">银行<br/>(卡号)</th>
				<th width="40">提现金额</th>
				<th width="100">备注</th>
				<th width="100">第三方流水号</th>
				<th width="40">申请状态</th>
				<th width="80">加入时间</th>
				<th width="80">更新时间</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="list" id="vo">
			<tr class="text-c">
				<td><input type="checkbox" value="" name=""></td>
				<td>{$i}</td>
				<td><a title="金额记录" href="__HHOME__/Member/detail_account?ucode={$vo.c_ucode}">{$vo['c_tx_code']}</a></td>
				<td><a title="用户详情" href="__HHOME__/Member/member_list?ucode={$vo.c_ucode}">{$vo['c_nickname']}</a></td>
				<td><if condition="$vo['c_headimg'] neq ''" ><a href="{$root_url}{$vo['c_headimg']}" target="_blank"><img src="{$root_url}{$vo['c_headimg']}" style="width:80px;"/></a><else/><img src="__HIMG__/user.png" style="width:80px;"/></if></td>
				<!-- <td>{$vo['dlname']}</td> -->
				<td>{$vo['c_uname']}</td>
				<td>{$vo['c_bankname']}<br>({$vo['c_banksn']})</td>
				<td>￥{$vo['c_money']}</td>
				<td>{$vo['c_remarks']}</td>
				<td>
					<if condition="$vo.c_thirdparty_code neq null">
		              <input class=""  type="text" value="{$vo['c_thirdparty_code']}" style="width:130px;height:30px;margin-left:15px;" onchange="change('{$vo['c_tx_code']}',this)" />
		          	<else/>
		              <input class="" type="text" style="width:130px;height:30px;margin-left:15px;"  placeholder="点击输入第三方单号" onchange="change('{$vo['c_tx_code']}',this)" />
					</if>

				</td>
				<td>{$vo['mystate']}</td>
				<td>{$vo['c_addtime']}</td>
				<td>{$vo['c_updatetime']}</td>
				<if condition="$vo['c_state'] eq 0">
					<td class="td-manage">
						<a title="同意" href="javascript:;" onclick="ajax_handle('1','{$vo['c_id']}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe656;</i></a>
						<a title="不同意" href="javascript:;" onclick="ajax_handle('2','{$vo['c_id']}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe688;</i></a>
					</td>  
				<else/>
					<td class="td-status">
						<if condition="$vo['c_state'] eq 1">
						<span class="label label-success radius">申请成功</span>
						<else/>
						<span class="label label-success radius">申请失败</span>
						</if>
					</td>
				</if>
				</td>
			</tr>
			</volist>
		</tbody>
	</table>
	</div>
</div>
<div class="pages">{$page}</div>
<script type="text/javascript" src="__HLIB__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__HLIB__/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__HLIB__/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="__HLIB__/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__HLIB__/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__HJS__/H-ui.js"></script> 
<script type="text/javascript" src="__HJS__/H-ui.admin.js"></script> 
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "asc" ]],//默认第几个排序
		"bStateSave": false,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
		]
	});
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			table.$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
});
/*提现申请操作*/
function ajax_handle(handle,id){
	if(handle == 1){
		var message = '牵涉金钱操作需谨慎,确定要同意吗？';
	}else{
		var message = '牵涉金钱操作需谨慎,确定要不同意吗？';
	}
	
	layer.confirm(message,function(index){
		//此处请求后台程序，下方是成功后的前台处理……	
		$.post(HHOME+'/Member/ajax_apply_handle',{handle:handle,Id:id}, function(obj) {
			var result = eval(obj);		
	        if (result['code'] != 0) {
	        	layer.msg(result['msg'],{icon:10,time:2000});
	        } else {
	        	layer.msg(result['msg'],{icon:1,time:2000});
	        	window.location.reload(); 
	        }        
	    });		
	});
}

function change(txcode,obj){
   	var val = $(obj).val(); 
    if(val!=''){
        if(confirm("你确定执行该操作吗？")){
            $.post('__URL__/save_thirdparty',{txcode:txcode,thirdparty:val},function(data){
                var result = eval(data);		
    	        if (result['code'] != 0) {
    	        	layer.msg(result['msg'],{icon:10,time:2000});
    	        } else {
    	        	layer.msg(result['msg'],{icon:1,time:2000});
    	        	window.location.reload(); 
    	        }        
            });
        }
    }
    return false;
}
</script> 
</body>
</html>