<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="__IMG__/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />    
<title>后台管理登录--提取账号</title>
<link rel="stylesheet" type="text/css" href="__CSS__/mobile/reset.css">
<link rel="stylesheet" type="text/css" href="__CSS__/mobile/index.css?v=1.2">
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__JS__/agent.js"></script>
</head>
<body>  

<form action="" method="post">
<div class="wrap-page">    
      <div class="login-main-bg">
            <div class="login-top-main">
                <div class="login-top-logo"><img src="__IMG__/login/login-02_03.png" alt=""></div>
                <div class="login-top-font">后台管理中心</div>
            </div>
            <div class="login-info-main">
                <div class="login-info-tit">提取您的账号</div>
                <a class="get-account" style="margin:5% 15% 10% 15%;" href="__APP__/Home/Login/areaagent">区域经理帐号激活</a>
                <a class="get-account" href="__APP__/Home/Login/cityagent">代理商帐号激活</a>
                <a class="get-account" href="__APP__/Home/Login/shopagent">商家帐号激活</a>
            </div>
            <img src="__IMG__/mobile/login-bg.jpg" alt="">
      </div>
</div>      
</form>

<script type="text/javascript" src="__LIB__/layer/1.9.3/layer.js"></script>
</body> 
</html>
