<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="__IMG__/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<title>商家资料</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/mobile/reset.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/mobile/index.css?v=1.2">
		<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="__JS__/common.js?v=2017325"></script>
		<script type="text/javascript">
			var WEB_HOST = "<?php echo WEB_HOST ?>";
		</script>
		<style type="text/css">
			select {
				padding: 0;
			}
			.resource-l{width:45%;}
			.resource-r{width:55%;}
			.binfo-name span{width: 78%;}
		</style>
	</head>

	<body>
		<form action="" id="CONSIGNEE_ADDRESS" method="post" accept-charset="utf-8" enctype="multipart/form-data">

			<include file="Common/head" />
			<div class="wrap-page bgcolor" style="margin-bottom:15%;">
				<div class="p_info_tit"><span class="fs14 c3">商家资料6/<?php if($isfixed==1){ ?>8<?php }else{ ?>7<?php } ?></span></div>
				<div class="resource-main" id="page_1">
					<div class="resource-list">
						<div class="resource-l fl fs14"><span>*&nbsp;</span>银行卡号：</div>
						<div class="resource-r fl"><input type="text" id="card-name" name="fee_cardnum" class="resource-text" value="{$vo.c_fee_cardnum}" onkeyup="formatBankNo(this)" onkeydown="formatBankNo(this)"  placeholder="请输入银行卡号"></div>
					</div>
					<div class="resource-list">
						<div class="resource-l fl fs14"><span>*&nbsp;</span>户名：</div>
						<div class="resource-r fl"><input type="text" id="have-name" value="{$vo['c_fee_name']}" name="fee_name" class="resource-text" placeholder="请输入开户人" maxlength="30"></div>
					</div>
					<div class="resource-list">
						<div class="resource-l fl fs14"><span>*&nbsp;</span>银行账户类型：</div>
						<div class="resource-r fl">
							<select name="accounttype" id="accounttype" class="fs14 c9">
								<!-- <option value="">请选择</option> -->
								<foreach name="accountlist" item="accountlist">
									<option value="{$accountlist.c_num}" <?php if($vo['c_accounttype']==$accountlist['c_num']){ ?> selected="selected"
									<?php } ?> >{$accountlist.c_content}</option>
								</foreach>

							</select>
						</div>
					</div>
					<div class="resource-list">
						<div class="resource-l fl fs14"><span>*&nbsp;</span>开户银行：</div>
						<div class="resource-r fl binfo-name fs14" onclick="searchbank()"><span id="fee_banktext"><?php if ($vo['c_fee_bank']) { ?>{$vo['c_fee_bank']}<?php } else { ?>搜索开户行<?php } ?></span><span><img src="__IMG__/der_icon_search.png" alt=""></span></div>
						<input type="hidden" id="bank-name" name="fee_bank" value="{$vo['c_fee_bank']}" />
					</div>
					<div class="resource-list">
						<div class="resource-l fl fs14"><span>*&nbsp;</span>开户支行：</div>
						<div class="resource-r fl binfo-name fs14" onclick="searchson()"><span id="banknametext"><?php if ($vo['c_bankname']) { ?>{$vo['c_bankname']}<?php } else { ?>搜索支行<?php } ?></span><span><img src="__IMG__/der_icon_search.png" alt=""></span></div>
						<input type="hidden" name="bankname" id="branch-name" value="{$vo['c_bankname']}" />
					</div>
					<div class="resource-list">
						<div class="resource-l fl fs14">
							<span>*&nbsp;</span>开户行所在省
						</div>
						<div class="resource-r fl">
							<select class="fs14 c9" name="province" id="province" onchange="loadRegion('province',2,'city','{:U('Personal/getRegion')}');">
								<option value="" id="provincename">选择省</option>
								<foreach name="province" item="province">
									<option value="{$province.region_id}" <?php if($vo['c_bankprovince']==$province['region_name']){ ?> selected="selected"
									<?php } ?> >{$province.region_name}</option>
								</foreach>
							</select>
						</div>
					</div>
					<div class="resource-list">
						<div class="resource-l fl fs14">
							<span>*&nbsp;</span>开户行所在市
						</div>
						<div class="resource-r fl">
							<select class="fs14 c9" name="city" id="city">
								<?php if($vo['c_bankcity']){ ?>
								<option value="" id="cityname">{$vo['c_bankcity']}</option>
								<?php }else{ ?>
								<option value="" id="cityname">选择市</option>
								<?php } ?>
							</select>
							<select class="fs14 c9" name="district" id="district" style="display:none;">
								<?php if($newdistrict){ ?>
								<option value="" id="districtname">{$newdistrict}</option>
								<?php }else{ ?>
								<option value="" id="districtname">选择区</option>
								<?php } ?>
							</select>
						</div>
					</div>
					<div class="resource-list" style="display: none;" id="b_webnum" >
						<div class="resource-l fl fs14" style="width: 50%;"><span>*&nbsp;</span>网点号(联行号)：</div>
						<div class="resource-r fl" style="width: 50%;"><input type="text" id="contactline" name="contactline" class="resource-text" value="{$vo['c_contactline']}" disabled="disabled"><span clas="fs12" style="color: #FFAA3D;">（不可修改）</span></div>
					</div>
					<div class="resource-list">
						<div class="resource-l fl"><span>*&nbsp;</span>持卡人证件类型：</div>
						<div class="resource-r fl">
							<select name="balancecardtype" id="balancecardtype" class="c3 fs14">
								<option value="00" <?php if ($vo['c_balancecardtype'] == 00) { ?>selected="selected"<?php } ?>>身份证</option>
								<option value="01" <?php if ($vo['c_balancecardtype'] == 01) { ?>selected="selected"<?php } ?>>中国护照</option>
								<option value="02" <?php if ($vo['c_balancecardtype'] == 02) { ?>selected="selected"<?php } ?>>军人身份证</option>
								<option value="03" <?php if ($vo['c_balancecardtype'] == 03) { ?>selected="selected"<?php } ?>>警官证</option>
								<option value="04" <?php if ($vo['c_balancecardtype'] == 04) { ?>selected="selected"<?php } ?>>户口簿</option>
							</select>
						</div>
					</div>
					<div class="resource-list">
						<div class="resource-l fl"><span>*&nbsp;</span>持卡人证件号：</div>
						<div class="resource-r fl"><input type="text" id="balancenum" name="balancenum" class="resource-text" value="{$vo['c_balancenum']}" placeholder="请输入证件号" maxlength="30"></div>
					</div>
					<div class="info_sub_btn fixed-btn fs16">
						<ul>
							<li onclick="PreviousCK()">上一步</li>
							<li onclick="checkinfo()">保存并下一步</li>
						</ul>
					</div>					
				</div>
				<!--开户行搜索弹窗-->
				<div class="bank-name-pup" id="bk_name_pup">
					<div class="bank-name-con" id="bk_name_con">
						<div class="bank-search">
							<div class="bank-s-input fl">
								<input type="text" id="bankkey" name="bankkey" value="" placeholder="银行编码/银行名称" class="fs14" />
							</div>
							<div class="bank-s-btn fl">
								<input type="button" id="banksbtn" name="banksbtn" value="搜索" onclick="getdatalist()" class="fs14" />
							</div>
						</div>
						<div class="bank-con-list">
							<div class="bank-tit fs14">
								<ul>
									<li>
										<div class="bankcell">
											银行编码
										</div>
										<div class="bankcell">
											银行名称
										</div>
									</li>
								</ul>
							</div>
							<ul class="bank-list fs14" id="data_list">
								<li>
									<div class="bankcell">
										1
									</div>
									<div class="bankcell">
										中国工商银行
									</div>
								</li>
							</ul>
							<div class="returnbtn fs16" id="return-page1">返回</div>
						</div>
					</div>
				</div>
				<!--开户支行弹窗-->
				<div class="bank-name-pup" id="ss_name_pup">
					<div class="bank-name-con" id="ss_name_con">
						<div class="bank-search">
							<div class="bank-s-input fl">
								<input type="text" id="bank_zhkey" name="bank_zhkey" value="" placeholder="输入联行号/支行名称，如“深圳”" class="fs14" />
							</div>
							<div class="bank-s-btn fl">
								<input type="button" id="bank_zhbtn" name="bank_zhbtn" onclick="getbankname()" value="搜索" class="fs14" />
							</div>
						</div>
						<div class="bank-con-list">
							<div class="bank-tit fs14">
								<ul>
									<li>
										<div class="bankcell">
											网点号（联行号）
										</div>
										<div class="bankcell">
											支行名称
										</div>
									</li>
								</ul>
							</div>
							<ul class="bank-list fs14" id="data_list_2">
								<li>
									<div class="bankcell">
										1
									</div>
									<div class="bankcell">
										中国工商银行
									</div>
								</li>

							</ul>
							<div class="returnbtn fs16" id="return-page2">返回</div>
						</div>
					</div>
				</div>

			</div>
		</form>
		<script type="text/javascript">
			var isfixed = '<?php echo $isfixed ?>'; /*0线上，1线下*/
			window.onload = function() {
				$('#return-page1').click(function() {
					$('#page_1').css("display", "block");
					$('#bk_name_pup').css("display", "none");
					$('#ss_name_pup').css("display", "none");
				});
				$('#return-page2').click(function() {
					$('#page_1').css("display", "block");
					$('#bk_name_pup').css("display", "none");
					$('#ss_name_pup').css("display", "none");
				});

				loadRegion('province', 2, 'city', "<?php echo U('Personal/getRegion');?>");
	
			}
			$(function() {

			});
			/*上一步*/
			function PreviousCK() {
				window.location.href = "__URL__/info_5?isfixed=" + isfixed;
			}

			function checkinfo() {
				if(emptyval($('#card-name').val())) {
					JqueryDialog.Show('请输入银行卡号');
					$('#card-name').focus();
					return false;
				}
                if(emptyval($('#have-name').val())) {
                    JqueryDialog.Show('请输入开户人姓名');
                    $('#have-name').focus();
                    return false;
                }
                if($("#accounttype option:selected").val() == '') {
                    JqueryDialog.Show('请选择账户类型');
                    $('#accounttype').focus();
                    return false;
                }
                if(emptyval($('#bank-name').val())) {
                    JqueryDialog.Show('请选择银行开户行');
                    $('#bank-name').focus();
                    return false;
                }
				if(emptyval($('#branch-name').val())) {
					JqueryDialog.Show('请选择支行名称');
					$('#branch-name').focus();
					return false;
				}
				var province = $("#province option:selected").text();
				var city = $("#city option:selected").text();
				if(province == "选择省" || city == "请选择") {
					JqueryDialog.Show("请选择地址信息！");
					$("#province").focus();
					return false;
				} else if(province == "选择省" || city == "选择市") {
					JqueryDialog.Show("请选择地址信息！");
					$("#province").focus();
					return false;
				}
                if($("#balancecardtype option:selected").val() == '') {
                    JqueryDialog.Show('请选择证件类型');
                    $('#balancecardtype').focus();
                    return false;
                }
                if(emptyval($('#balancenum').val())) {
                    JqueryDialog.Show('请输入证件号');
                    $('#balancenum').focus();
                    return false;
                } else {
                    if(!checkIdcard($('#balancenum').val())) {
                        JqueryDialog.Show('请输入正确的证件号码！');
                        $('#balancenum').focus();
                        return false;
                    }
                }
				savestep();
			}
			
			/*银行卡验证*/
			function formatBankNo(BankNo) {
				if (BankNo.value == "") return;
				var account = new String(BankNo.value);
				account = account.substring(0, 22); /*帐号的总数, 包括空格在内 */
				if (account.match(".[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{7}") == null) {
					/* 对照格式 */
					if (account.match(".[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{7}|" + ".[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{7}|" +
							".[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{7}|" + ".[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{7}") == null) {
						var accountNumeric = accountChar = "",
							i;
						for (i = 0; i < account.length; i++) {
							accountChar = account.substr(i, 1);
							if (!isNaN(accountChar) && (accountChar != " ")) accountNumeric = accountNumeric + accountChar;
						}
						account = "";
						for (i = 0; i < accountNumeric.length; i++) { /* 可将以下空格改为-,效果也不错 */
							if (i == 4) account = account + " "; /* 帐号第四位数后加空格 */
							if (i == 8) account = account + " "; /* 帐号第八位数后加空格 */
							if (i == 12) account = account + " "; /* 帐号第十二位后数后加空格 */
							account = account + accountNumeric.substr(i, 1)
						}
					}
				} else {
					account = " " + account.substring(1, 5) + " " + account.substring(6, 10) + " " + account.substring(14, 18) + "-" + account.substring(18, 25);
				}
				if (account != BankNo.value) BankNo.value = account;
			}
			/*保存*/
			var resign = true;

			function savestep() {
				if(resign) {
					resign = false;
                    var attrbul = getFormAttrs('CONSIGNEE_ADDRESS');
					$.ajax({
						type: "POST",
						url: '__URL__/SetInfo6',
						data: "attrbul=" + JSON.stringify(attrbul),
						dataType: "json",
						success: function(json) {
							var msg = eval(json);
							if(msg.code == 0) {
								JqueryDialog.Show("保存成功！");
								setTimeout(function() {
									window.location.href = "__URL__/info_7?isfixed=<?php echo $isfixed; ?>";
								}, 1000);
							} else {
								JqueryDialog.Show(msg.msg);
								resign = true;
							}
						}
					});
				}
			}

            /*银行卡验证*/
            function formatBankNo(BankNo) {
                if(BankNo.value == "") return;
                var account = new String(BankNo.value);
                account = account.substring(0, 22); /*帐号的总数, 包括空格在内 */
                if(account.match(".[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{7}") == null) {
                    /* 对照格式 */
                    if(account.match(".[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{7}|" + ".[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{7}|" +
                            ".[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{7}|" + ".[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{7}") == null) {
                        var accountNumeric = accountChar = "",
                            i;
                        for(i = 0; i < account.length; i++) {
                            accountChar = account.substr(i, 1);
                            if(!isNaN(accountChar) && (accountChar != " ")) accountNumeric = accountNumeric + accountChar;
                        }
                        account = "";
                        for(i = 0; i < accountNumeric.length; i++) { /* 可将以下空格改为-,效果也不错 */
                            if(i == 4) account = account + " "; /* 帐号第四位数后加空格 */
                            if(i == 8) account = account + " "; /* 帐号第八位数后加空格 */
                            if(i == 12) account = account + " "; /* 帐号第十二位后数后加空格 */
                            account = account + accountNumeric.substr(i, 1)
                        }
                    }
                } else {
                    account = " " + account.substring(1, 5) + " " + account.substring(6, 10) + " " + account.substring(14, 18) + "-" + account.substring(18, 25);
                }
                if(account != BankNo.value) BankNo.value = account;
            }

            /*身份证验证*/
            function checkIdcard(idcard) {
                var idreg = /^[0-9a-zA-Z]*$/g;
                // var idreg = /^(\d{18,18}|\d{15,15}|\d{17,17}x)$/;
                // switch (idcard.length) {
                // 	case 10: //台湾
                // 		if (idcard.indexOf("(") > 0) {
                // 			if (isNaN(idcard.substr(0,1))) {  //香港
                // 				idreg = /^[A-Z][0-9]{6}\([0-9A]\)$/;
                // 			} else {	//澳门
                // 				idreg = /^[157][0-9]{6}\([0-9]\)$/;
                // 			}
                // 		} else {   //台湾
                // 			idreg = /^[A-Z][0-9]{9}$/;
                // 		}
                // 		break;
                // 	default:
                // 		idreg = /^(\d{18,18}|\d{15,15}|\d{17,17}x)$/;
                // 		break;
                // }
                if(!idreg.test($('input[name="balancenum"]').val())) {
                    return false;
                }
                return true;
            }

            /*开户行搜索弹窗*/
			function searchbank() {
				$('#page_1').css("display", "none");
				$('#ss_name_pup').css("display", "none");
				$('#bk_name_pup').css("display", "block");
				getdatalist();
			}
			/*支行弹窗*/
			function searchson() {
				var bankname = $('#bank-name').val();
				if(!bankname) {
					JqueryDialog.Show('请先选择开户银行');
					return;
				}
				$('#page_1').css("display", "none");
				$('#bk_name_pup').css("display", "none");
				$('#ss_name_pup').css("display", "block");
				getbankname();
			}
			/*数据加载*/
			function getdatalist() {
				$('#data_list').empty();
				var name = $('#bankkey').val();
				var url = "__URL__/GetBankList?name=" + name;
				var _html = "";
				$.ajax({
					type: 'get',
					dataType: 'json',
					url: url,
					cache: false,
					beforeSend: function() {
						$('#console').css('display', 'block');
						$('#console').html('加载中...');
					},
					error: function() {
						$('#console').css('display', 'block');
						$('#console').html('加载失败');
					},
					success: function(obj) {
						var mgs = eval(obj);
						if(mgs['code'] == 0) {
							var data = mgs.data;
							if(data) {
								for(var i = 0; i < data.length; i++) {
									var dataarr = data[i];
									_html += '<li onclick="sel_fee_bank(\'' + dataarr['c_name'] + '\')">';
									_html += '<div class="bankcell">';
									_html += '' + dataarr['c_id'] + '';
									_html += '</div>';
									_html += '<div class="bankcell">';
									_html += '' + dataarr['c_name'] + '';
									_html += '</div>';
									_html += '</li>';
								};
							} else {
								_html += '<div class="baoqian">没有找到相关信息</div>';
							}
						} else {
							_html += '<div class="baoqian">没有相关信息</div>';
						}
						$('#data_list').append(_html);
					},
					complete: function() {
						$('#console').css('display', 'none');
					}
				});
			}

			/*支行列表*/
			function getbankname() {
				$('#data_list_2').empty();
				var bankname = $('#bank-name').val();
				var name = $('#bank_zhkey').val();
				var url = "__URL__/GetBranchList?bankname=" + bankname + "&name=" + name;
				var _html = "";
				$.ajax({
					type: 'get',
					dataType: 'json',
					url: url,
					cache: false,
					beforeSend: function() {
						$('#console').css('display', 'block');
						$('#console').html('加载中...');
						kongzhi = false;
					},
					error: function() {
						$('#console').css('display', 'block');
						$('#console').html('加载失败');
						kongzhi = false;
					},
					success: function(obj) {
						var mgs = eval(obj);
						if(mgs['code'] == 0) {
							var data = mgs.data;
							if(data) {
								for(var i = 0; i < data.length; i++) {
									var dataarr = data[i];
									_html += '<li onclick="sel_bank_name(\'' + dataarr['c_name'] + '\',\'' + dataarr['c_code'] + '\')">';
									_html += '<div class="bankcell">';
									_html += '' + dataarr['c_id'] + '';
									_html += '</div>';
									_html += '<div class="bankcell">';
									_html += '' + dataarr['c_name'] + '';
									_html += '</div>';
									_html += '</li>';
								};
							} else {
								_html += '<div class="baoqian">没有找到相关信息</div>';
							}
						} else {
							_html += '<div class="baoqian">没有相关信息</div>';
						}
						$('#data_list_2').append(_html);
					},
					complete: function() {
						$('#console').css('display', 'none');
						kongzhi = true;
					}
				});
			}

			/*选择开户行*/
			function sel_fee_bank(name) {
				$('#bank-name').val(name);
				$('#fee_banktext').text(name);
				$('#page_1').css("display", "block");
				$('#bk_name_pup').css("display", "none");
				$('#ss_name_pup').css("display", "none");
			}

			/*请选择支行*/
			function sel_bank_name(name, actline) {
				//$('#b_webnum').slideDown();
				$('#branch-name').val(name);
				$('#banknametext').text(name);
				$('#contactline').val(actline);
				$('#page_1').css("display", "block");
				$('#bk_name_pup').css("display", "none");
				$('#ss_name_pup').css("display", "none");
			}

			/*获取省市区信息*/
			function loadRegion(sel, type_id, selName, url) {
				jQuery("#" + selName + " option").each(function() {
					jQuery(this).remove();
				});
				//jQuery("<option value='' selected='selected'>请选择</option>").appendTo(jQuery("#"+selName));
				if (jQuery("#" + sel).val() == 0) {
					return;
				}
				jQuery.getJSON(url, {
						parentid: jQuery("#" + sel).val(),
						regiontype: type_id
					},
					function(data) {
						//$("#district").html('<option value="" selected="selected">请选择</option>');
						if (data) {
							jQuery.each(data, function(idx, item) {
								if (selName == "city") {
									jQuery("<option value=" + item.region_id + " selected=\"selected\">" + item.region_name + "</option>").appendTo(jQuery("#" + selName));
								} else if (selName == "district") {
									jQuery("<option value=" + item.region_id + " selected=\"selected\">" + item.region_name + "</option>").appendTo(jQuery("#" + selName));
								} else {
									jQuery("<option value=" + item.region_id + ">" + item.region_name + "</option>").appendTo(jQuery("#" + selName));
								}

							});
							if (selName == "city") {
								loadRegion('city', 3, 'district', "<?php echo U('Personal/getRegion');?>");
							}
						} else {

							jQuery("<option value='' selected='selected'>请选择</option>").appendTo(jQuery("#" + selName));

						}
					}
				);
			}

		</script>
	</body>

</html>