<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="__IMG__/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<title>商家资料</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/mobile/reset.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/mui.min.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/mobile/index.css?v=1.2">
		<link rel="stylesheet" type="text/css" href="__CSS__/mui.picker.all.css">
		<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="__JS__/common.js?v=2017325"></script>
		<script type="text/javascript">
			var WEB_HOST = "<?php echo WEB_HOST ?>";
		</script>
		<style type="text/css">
			.resource-l {
				padding: 0 0 0 3%;
			}

			.resource-list span {
				margin: 3% 0 0 0;
			}
			.mui-btn{border:none;}
		</style>
	</head>

	<body>

		<form action="" id="form1" method="post" accept-charset="utf-8" enctype="multipart/form-data">
			<include file="Common/head" />

			<div class="wrap-page bgcolor" style="margin-bottom: 15%;">
				<div class="p_info_tit"><span class="fs14 c3">商家资料<?php if($oldinfo==1 && $userdata['c_shop']==1){ ?>2/4<?php }else{ ?>3/5<?php } ?></span></div>
				<div class="p_info_con">
					<div class="resource-main">
						<div class="resource-list">
							<div class="resource-l fl"><span>*&nbsp;</span>商户名称</div>
							<div class="resource-r fl"><input type="text" id="merchantname" value="{$vo['c_merchantname']}" name="merchantname" class="resource-text" placeholder="请输入商户名称" maxlength="64"></div>
						</div>
						<div class="resource-list">
							<div class="resource-l fl"><span>*&nbsp;</span><?php if($ctype == 1){ ?>负责人姓名 <?php } else if($ctype == 2){ ?>法人姓名<?php } else if($ctype == 3){ ?>经营者姓名 <?php } ?></div>
							<div class="resource-r fl"><input type="text" id="contact-name" value="{$vo['c_name']}" name="name" class="resource-text" placeholder="<?php if($ctype == 1){ ?>请输入负责人姓名 <?php } else if($ctype == 2){ ?>请输入法人姓名<?php } else if($ctype == 3){ ?>请输入营业执照经营者的姓名<?php } ?>" maxlength="32"></div>
						</div>
						<div class="resource-list">
							<div class="resource-l fl"><span>*&nbsp;</span>身份证号码</div>
							<div class="resource-r fl"><input type="text" id="idcardinfo" value="{$vo['c_idcardinfo']}" name="idcardinfo" class="resource-text" placeholder="<?php if($ctype == 1){ ?>请输入负责人身份证号码<?php } else if($ctype == 2){ ?>请输入法人身份证号码<?php } else if($ctype == 3){ ?>请输入经营者身份证号码<?php } ?>" maxlength="18"></div>
						</div>
						<div class="resource-list">
							<div class="resource-l fl">
								<span>*&nbsp;</span>证件有效期
							</div>
							<div class="resource-r fl">
								<input type="text" value="{$vo['c_idcardstarttime']}" name="starttime" id="starttime" placeholder="请选择" class="fs12 c3 resource-text fl" readonly="readonly" style="width: 45%;text-align: center" />
								<input type="hidden" name="idcardstarttime" id="idcardstarttime" value="{$vo['c_idcardstarttime']}" />
								<input type="text" disabled="disabled" value="至" style="width: 10%;color: #999;" class="resource-text fl">
								<input type="text" value="{$vo['c_idcardendtime']}" name="endtime" id="endtime" placeholder="请选择" class="fs12 c3 resource-text fl" readonly="readonly" style="width: 45%;text-align: center" />
								<input type="hidden" name="idcardendtime" id="idcardendtime" value="{$vo['c_idcardendtime']}" />
							</div>
							<div class="resource-l fl" style="width:100%">
								<font class="c9 fs11">&nbsp;注：有效期3个月的证件不予受理</font>
							</div>
						</div>
						<div class="resource-list">
							<div class="resource-l fl"><span>*&nbsp;</span>手机号码</div>
							<div class="resource-r fl"><input type="tel" id="cphone" value="{$vo['c_phone']}" name="phone" class="resource-text" placeholder="<?php if($ctype == 1){ ?>请输入负责人手机号码<?php } else if($ctype == 2){ ?>请输入法人手机号码<?php } else if($ctype == 3){ ?>请输入经营者手机号码<?php } ?>" maxlength="11"></div>
						</div>
						<div class="resource-list">
							<div class="resource-l fl"><span>*&nbsp;</span>省市区</div>
							<div class="resource-r fl"><input type="text" id="areadata" value="{$vo['c_province']}{$vo['c_city']}{$vo['c_county']}" name="areadata" class="resource-text" placeholder="请选择省市区" readonly="readonly"></div>
							<input type="hidden" id="province" name="provincename" value="{$vo['c_province']}">
							<input type="hidden" id="city" name="cityname" value="{$vo['c_city']}">
							<input type="hidden" id="district" name="districtname" value="{$vo['c_county']}">
						</div>
						<div class="resource-list">
							<div class="resource-l fl"><span>*&nbsp;</span>详细地址</div>
							<div class="resource-r fl"><input type="text" id="addrarea" value="{$vo['address1']}" name="addrarea" class="resource-text" placeholder="请输入详细地址" maxlength="80"></div>
						</div>
						<?php if($ctype==3){ ?>
						<div class="resource-list">
							<div class="resource-l fl"><span>*&nbsp;</span>营业执照号</div>
							<div class="resource-r fl"><input type="text" id="charter" name="charter" class="resource-text" value="{$vo['c_charter']}" placeholder="请输入营业执照号" maxlength="64"></div>
						</div>
						<?php }?>
					</div>

					<!--经纬度-->
					<input type="hidden" id="address1" name="address" value="{$vo['address1']}">
					<input type="hidden" name="lng" id="lng" value="{$vo['c_longitude']}">
					<input type="hidden" name="lat" id="lat" value="{$vo['c_latitude']}">

			</div>
			<div class="longtime fixed-btn fs14 c5 bgcolor divtab none" style="border:none;z-index: 1000000;padding: 2% 0;text-align: center;">长期有效</div>
			<div class="info_sub_btn fixed-btn fs16">
				<ul>
					<li onclick="PreviousCK()">上一步</li>
					<li onclick="savestep()">保存并下一步</li>
				</ul>
			</div>
			</div>
		<script type="text/javascript" src="__JS__/mui.min.js"></script>
		<script type="text/javascript" src="__JS__/mui.picker.all.js"></script>
		<script type="text/javascript" src="__JS__/areadata.js?v=20171110"></script>
		<script type="text/javascript">
            var stattt = "";
            var endttt = "";
            mui('.wrap-page').on('tap', '#starttime', function() {
                if(endttt){
                    var picker = new mui.DtPicker({
                        type: "date",//设置日历初始视图模式
                        beginDate: new Date(1990,00,01),
                        endDate: new Date(endttt)//设置结束日期
                    });
                }else{
                    var picker = new mui.DtPicker({
                        type: "date",
                        beginDate: new Date(1990,00,01),
                        endDate: new Date(2050,00,01)//设置结束日期
                    });
                }
                picker.show(function(rs) {
                    stattt=rs.text;
                    $("#starttime").val(rs.text);
                    $('#idcardstarttime').val(rs.text);
                    picker.dispose();
                });
            });
            /*结束时间*/
            mui('.wrap-page').on('tap', '#endtime', function() {
                if(stattt){
                    var picker = new mui.DtPicker({
                        type: "date",//设置日历初始视图模式
                        beginDate: new Date(stattt),//设置开始日期
                        endDate: new Date(2050,00,01)//设置结束日期
                    });
                }else{
                    var picker = new mui.DtPicker({
                        type: "date",
                        beginDate: new Date(1950,00,01),
                        endDate: new Date(2050,00,01)//设置结束日期
                    });
                }
                $('.longtime').slideDown();
                picker.show(function(rs) {
                    endttt=rs.text;
                    $("#endtime").val(rs.text);
                    $('#idcardendtime').val(rs.text);
                    picker.dispose();
                    $('.longtime').slideUp();
                });
                /*取消*/
                picker.ui.cancel.addEventListener('tap', function() {
                    $('.longtime').slideUp();
                    $('.mui-dtpicker').remove();
                    $('.mui-backdrop').remove();
                    $("body").removeClass("mui-dtpicker-active-for-page");
                }, false);
            });
            /*证件失效时间:长期有效*/
            $('.wrap-page').on('tap','.longtime',function () {
                $(this).slideUp();
                $('#idcardendtime').val("长期");
                $('#endtime').val("长期");
                $('.mui-dtpicker').removeClass('mui-active');
                $('.mui-backdrop').hide();
            });
            /*省市区选择*/
            mui('.wrap-page').on('tap','#areadata',function () {
                var province = '<?php echo $vo["c_province"]; ?>';
                var ccity = '<?php echo $vo["c_city"]; ?>';
                var ccounty = '<?php echo $vo["c_county"]; ?>';
                var citypicker = new mui.PopPicker({
                    layer: 3
                });
                citypicker.setData(cityData3);
                citypicker.pickers[0].setSelectedValue(''+province+'');
                citypicker.pickers[1].setSelectedValue(''+ccity+'');
                citypicker.pickers[2].setSelectedValue(''+ccounty+'');
                citypicker.show(function(SelectedItem) {
                    $('#areadata').val(SelectedItem[0]['text']+SelectedItem[1]['text']+SelectedItem[2]['text']);
                    $("#province").val(SelectedItem[0]['text']);
                    $("#city").val(SelectedItem[1]['text']);
                    $("#district").val(SelectedItem[2]['text']);
                    citypicker.dispose();
                });
            });
		</script>
		<script type="text/javascript">
			var isfixed = '<?php echo $isfixed; ?>'; /*0线上，1线下*/
			var ctype = '<?php echo $ctype; ?>';/*企业资质，1个人2个体户3企业*/
			var prov = '<?php echo $vo["c_province"]; ?>';
			var citye =  '<?php echo $vo["c_city"]; ?>';
			var newdistrict = '<?php echo $vo["c_county"]; ?>';
            var oldinfo = '<?php echo $oldinfo; ?>';
            var dcode = '<?php echo $vo["c_dcode"] ?>';
            var vostate = '<?php echo $vo["c_checked"]; ?>';
            var cshop = '<?php echo $userdata["c_shop"]; ?>';

			window.onload = function() {

				//$('.resource-list').css('line-height', $('.resource-list').height() + 'px');

				// loadRegion('province', 2, 'city', "<?php echo U('Personal/getRegion');?>");

			}
			/*上一步*/
			function PreviousCK() {
                if(oldinfo==1 && cshop==1){
                    window.location.href = "__URL__/sub4_1?isfixed="+isfixed+'&ctype='+ctype;
                }else{
                    window.location.href = "__URL__/sub4_2?isfixed="+isfixed+'&ctype='+ctype;
                }
			}

			/*save*/
			var resign = true;

			function savestep() {
				if(resign) {
					if(emptyval($('input[name="merchantname"]').val())) {
						JqueryDialog.Show('请输入商户名称');
						$('input[name="merchantname"]').focus();
						return false;
					}
                    if($('input[name="name"]').val() == '') {
                    	if(ctype==1){
							JqueryDialog.Show('请输入负责人姓名');
						}else if(ctype==2){
							JqueryDialog.Show('请输入法人姓名');
						}else if(ctype==3){
							JqueryDialog.Show('请输入营业执照经营者的姓名');
						}
                        $('input[name="name"]').focus();
                        return false;
                    }
                    if(emptyval($('input[name="idcardinfo"]').val())) {
                    	if(ctype==1){
							JqueryDialog.Show('请输入负责人身份证号');
						}else if(ctype==2){
							JqueryDialog.Show('请输入法人身份证号码');
						}else if(ctype==3){
							JqueryDialog.Show('请输入经营者身份证号码');
						}
                        $('input[name="idcardinfo"]').focus();
                        return false;
                    } else {
                        if(!checknumabc($('input[name="idcardinfo"]').val())) {
                            JqueryDialog.Show('请输入正确的证件号码！');
                            $('input[name="idcardinfo"]').focus();
                            return false;
                        }
                    }
                    if(emptyval($('#starttime').val())){
                        JqueryDialog.Show('请选择生效时间');
                        $('input[name="starttime"]').focus();
                        return false;
                    }
                    if(emptyval($('#endtime').val())){
                        JqueryDialog.Show('请选择失效时间');
                        $('input[name="endtime"]').focus();
                        return false;
                    }
                    var arr = $('#starttime').val().split("-");
                    var starttime = new Date(arr[0], arr[1], arr[2]);
                    var starttimes = starttime.getTime();
                    var arrs = $('#endtime').val().split("-");
                    var lktime = new Date(arrs[0], arrs[1], arrs[2]);
                    var lktimes = lktime.getTime();
                    if (starttimes >= lktimes) {
                        mui.toast('生效时间大于等于失效时间，请检查');
                        return false;
                    }
                    if(emptyval($('#cphone').val())){
                    	if(ctype==1){
							JqueryDialog.Show('请输入负责人手机号码');
						}else if(ctype==2){
							JqueryDialog.Show('请输入法人手机号码');
						}else if(ctype==3){
							JqueryDialog.Show('请输入经营者手机号码');
						}
                        $('input[name="phone"]').focus();
                        return false;
                    }else if(!checknumber($('input[name="phone"]').val())){
                        JqueryDialog.Show('请输入正确的手机号码！');
                        $('input[name="phone"]').focus();
                        return false;
					}else{
						if($('#cphone').val().length < 8){
							JqueryDialog.Show('请输入正确位数的手机号码！');
	                        $('input[name="phone"]').focus();
	                        return false;
						}
					}

                    var province = $("#province").val();
                    var city = $("#city").val();
                    var district = $("#district").val();
                    var addrarea = document.getElementById('addrarea').value;

                    if(province == "" || city == "" || district == "" || addrarea == "") {
                        mui.toast("请完善地址信息！");
                        $('#areadata').focus();
                        $('#addrarea').focus();
                        return false;
                    }
                    $('#address1').val(province + "省" + city + "市" + district + addrarea);

					/*个体户的营业执照*/
					if(ctype==3){
                        if(emptyval($('input[name="charter"]').val())) {
                            JqueryDialog.Show('请输入营业执照号');
                            $('input[name="charter"]').focus();
                            return false;
                        } else {
                            if(!checknumabc($('input[name="charter"]').val())) {
                                JqueryDialog.Show('请输入正确的营业执照号！');
                                $('input[name="charter"]').focus();
                                return false;
                            }
                        }
					}
                    resign = false;
					searchByStationName();
				}
			}
			/*根据地址获取经纬度*/
			function searchByStationName() {
				var attrbul = getFormAttrs('form1');
				$.ajax({
					type: "POST",
					url: '__URL__/SetInfo3',
					data: "attrbul=" + JSON.stringify(attrbul),
					dataType: "json",
					success: function(json) {
						var msg = eval(json);
						if(msg.code == 0) {
							JqueryDialog.Show("保存成功！");
							setTimeout(function() {
								window.location.href = "__URL__/sub4_4?isfixed=<?php echo $isfixed; ?>&ctype=<?php echo $ctype; ?>";
							}, 1000);
						} else {
							JqueryDialog.Show(msg.msg);
							resign = true;
						}
					}
				});
			}
		</script>

		</form>
	</body>

</html>