<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="__IMG__/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no" />
    <title>市代账号激活</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/reset.css?v=1.2">
	<script type="text/javascript" src="__JS__/jquery.js"></script>
	<script type="text/javascript">var WEB_HOST = "<?php echo WEB_HOST ?>";</script>
	<script type="text/javascript">
		window.onload=function(){
		}

	</script>

</head>
<body>

<div class="wrap-page">

</div>
 

</body>
</html>