<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="__IMG__/favicon.ico">
<title>微商后台管理中心</title>
<link rel="stylesheet" type="text/css" href="__CSS__/reset.css">
<link rel="stylesheet" type="text/css" href="__CSS__/login.css?v=1.7">
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__JS__/agent.js"></script>
</head>
<body> 	

<form action="" method="post">
      <div class="login-main-bg">
            <div class="login-top-main">
                <div class="login-top-logo fl"><img src="__IMG__/login/login-02_03.png" alt=""></div>
                <div class="login-top-font fl">微商后台管理中心</div>
            </div>
            <div class="login-info-main">
                <div class="login-info-tit">登录您的帐号</div>
                <!-- <div class="login-font">输入您的用户名或手机号码</div> -->
                <div class="login-text">
                    <div class="login-icon fl">
                        <img src="__IMG__/login/login-02_03_2.png">
                    </div>
                    <div class="login-input fl">
                        <input type="text" class="usertext" name="" id="telephone" placeholder="输入您的用户名或手机号码">
                    </div>
                </div>
                <div class="login-text">
                    <div class="login-icon fl">
                        <img src="__IMG__/login/login-02_03_1.png">
                    </div>
                    <div class="login-input fl">
                        <input type="password" class="usertext" name="" id="telephone" placeholder="输入您的密码">
                    </div>
                </div>
                <div class="login-verify">
                    <input name="verify" type="text" id="sj_admin_yzm" class="usertext txt_yzm fl" placeholder="请输入验证码">
                    <div id="yzm_Img" class="fl">
                        <a href="javascript:;">
                            <img id="verifyImg" src="{:U('verify')}" onClick="fleshVerify();" title="单击刷新验证码">
                        </a>
                    </div>
                </div>
                <div class="login-remember"><input type="checkbox">&nbsp;&nbsp;记住我</div>
                <div class="login-sub"><input type="submit" class="sub-login" value="登录"></div>
                <div class="login-get-update">
                    <a href="__URL__/updatepwd" class="fl">找回密码</a><a href="__URL__/getaccount" class="fr">提取账号</a>
                </div>
            </div>
            <img src="__IMG__/login/login-bg.jpg" alt="">
      </div>
</form>

    <script type="text/javascript" src="__LIB__/layer/1.9.3/layer.js"></script>
</body> 
<script type="text/javascript">
    window.onload = function() {
     
    }
    
    //刷新验证码
    function fleshVerify() {
        var time = new Date().getTime();
        document.getElementById("verifyImg").src = "__URL__/verify/" + time;
    }
</script> 
</html>
