<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<title>下载指南</title>
	<meta content="" name="keywords">
	<meta content="" name="description">
	<include file="Base@Public/header" />
	<link rel="stylesheet" type="text/css" href="__CSS__/index.css?v=1.5" />
</head>
<body class="bgeb">
	<div class="wrap-page">
	<include file="Base@Public/pubheader" />
	<form action="" id="form1" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<input type="hidden" name="ucode" id="ucode" value="{$ucode}">
		<input type="hidden" name="returnurl" id="returnurl" value="{$returnurl}" />
		<div class="mui-content">
			<div class="download">
				<div class="divtab"><img src="__IMG__/info/01.jpg" alt=""></div>
				<div class="divtab"><img src="__IMG__/info/02.jpg" alt=""></div>
				<div class="divtab"><img src="__IMG__/info/03.jpg" alt=""></div>
				<div class="divtab"><img src="__IMG__/info/04.jpg" alt=""></div>
			</div>			
		</div>		
	</form>
	</div>
<include file="Base@Public/pubjs" />
</body>
<script type="text/javascript">
	window.onload = function() {
		//ChRightText("添加");
		//yangshi()
	}

	//页面加载完js改变样式
	function yangshi() {
		
		
	}
</script>

</html>