<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<title>评论（288）</title>
		<meta content="" name="keywords">
		<meta content="" name="description">
		<include file="Base@Public/header" />
		<link rel="stylesheet" type="text/css" href="__CSS__/index/index.css" />
		<link rel="stylesheet" type="text/css" href="__COMMON__/css/viewer.min.css" />
	</head>

	<body class="bgeb">
		<div class="wrap-page" style="margin-bottom: 13%;">
			<include file="Base@Public/pubheader" />
			<form action="" id="form1" method="post" accept-charset="utf-8" enctype="multipart/form-data">
				<input type="hidden" name="ucode" id="ucode" value="{$ucode}">
				<input type="hidden" name="confirm-pcode" value="">

				<div class="mui-content">
					<div class="ag-comment bgcolor">
						<!--商品评论列表-->
						<div class="comment-con divtab" id="data_list">
							<div class="commcode-info divtab commcode-info-1">
								<div class="comm-head fl" title="ucode0">
									<img src="__IMG__/index/dlsc_xq_03.jpg" alt="" />
								</div>
								<div class="comm-intro fl">
									<div class="comm-nc-info divtab">
										<div class="comm-nc-grade fl">
											<p class="fs14 c3 fov" style="padding: 3% 0;">良品铺子</p>
											<p><span><img src="__IMG__/index/order_icon_star_selection.png" alt="" /></span></p>
										</div>
										<div class="comm-time fr fs12 c9">2017-05-05</div>
									</div>
									<div class="comm-desc c5 fs13">mui中选项卡切换加下拉刷新，动态加载数据左右轮滑无效！ mui中选项卡切换加下拉刷新，动态加载数据左右轮滑无效！ </div>
									<div class="comm-imglist" id="imglist-1-id0" title="cid0">
										<ul>
											<li>
												<img src="__IMG__/index/dlsc_dlxq_06.jpg" alt="" />
											</li>
											<li>
												<img src="__IMG__/index/dlsc_dlxq_06.jpg" alt="" />
											</li>
											<li>
												<img src="__IMG__/index/dlsc_dlxq_06.jpg" alt="" />
											</li>
											<li>
												<img src="__IMG__/index/dlsc_dlxq_06.jpg" alt="" />
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</form>
		</div>
		<include file="Base@Public/pubjs" />
		<script type="text/javascript" src="__COMMON__/js/viewer.min.js"></script>
	</body>
	<script type="text/javascript">
		var pcode = '<?php echo $datainfo["c_pcode"] ?>';
		var ucode = '<?php echo $ucode ?>';
		var detailurl = '<?php echo urlencode("http://" . $_SERVER['
		HTTP_HOST '] . $_SERVER['
		REQUEST_URI '])?>';
		window.onload = function() {
			$('.xm-bar-nav-right').hide();

			yangshi();
		}

		//页面加载完js改变样式
		function yangshi() {
			/*评论样式*/
			var headh = $('.comm-head').width(),
				lihb = headh * 50 / 100;
			$('.comm-head').height(headh);
			$('.comm-head').css("border-radius", headh + "px");
			$(".comm-nc-grade").css("line-height", lihb + "px");
			$(".comm-time").css("line-height", headh + "px");
			$('.comm-imglist ul li').width($('.comm-imglist ul li').height());
		}
		var pageindex = 1;
		var ctrls = true;
		var emptyval = true;

		//getdatalist();
		$(window).bind('scroll', function() {
			if(($(window).scrollTop() + $(window).height()) >= ($(document).height() - 60)) {
				if(ctrls && emptyval) {
					getdatalist();
				}
			}
		});
		/*数据加载*/
		function getdatalist() {
			var url = "__URL__/?pageindex=" + pageindex;
			var _html = "";
			$.ajax({
				type: 'get',
				dataType: 'json',
				url: url,
				cache: false,
				beforeSend: function() {
					$('#console').css('display', 'block');
					$('#console').html('加载中...');
					ctrls = false;
				},
				error: function() {
					$('#console').css('display', 'block');
					$('#console').html('加载失败');
					ctrls = true;
				},
				success: function(obj) {
					if(pageindex == 1) {
						$('#data_list').empty();
					}
					var mgs = eval(obj);
					if(mgs['code'] == 0) {
						var data = mgs.data;
						if(!data || data.list.length <= 0) {
							if(pageindex == 1) { //数据为空展示

							}
							emptyval = false;
						} else {
							if(pageindex <= data.pageCount) {
								pageindex++;
								var datalist = data.list;
								for(var i = 0; i < datalist.length; i++) {
									var dataarr = datalist[i];
							_html+='<div class="commcode-info divtab commcode-info-'+pageindex+'">';
							_html+='<div class="comm-head fl" title="ucode0">';
							_html+='<img src="__IMG__/index/dlsc_xq_03.jpg" alt="" />';
							_html+='</div>';
							_html+='<div class="comm-intro fl">';
							_html+='<div class="comm-nc-info divtab">';
							_html+='<div class="comm-nc-grade fl">';
							_html+='<p class="fs14 c3 fov" style="padding: 3% 0;">良品铺子</p>';
							_html+='<p><span><img src="__IMG__/index/order_icon_star_selection.png" alt="" /></span></p>';
							_html+='</div>';
							_html+='<div class="comm-time fr fs12 c9">2017-05-05</div>';
							_html+='</div>';
							_html+='<div class="comm-desc c5 fs13">mui中选项卡切换加下拉刷新，动态加载数据左右轮滑无效！ mui中选项卡切换加下拉刷新，动态加载数据左右轮滑无效！ </div>';
							_html+='<div class="comm-imglist" id="imglist-'+pageindex+'-'+dataarr["c_id"]+'" title="'+dataarr["c_id"]+'">';
							_html+='<ul>';
							_html+='<li>';
							_html+='<img src="__IMG__/index/dlsc_dlxq_06.jpg" alt="" />';
							_html+='</li>';
							_html+='<li>';
							_html+='<img src="__IMG__/index/dlsc_dlxq_06.jpg" alt="" />';
							_html+='</li>';
							_html+='<li>';
							_html+='<img src="__IMG__/index/dlsc_dlxq_06.jpg" alt="" />';
							_html+='</li>';
							_html+='<li>';
							_html+='<img src="__IMG__/index/dlsc_dlxq_06.jpg" alt="" />';
							_html+='</li>';
							_html+='</ul>';
							_html+='</div>';
							_html+='</div>';
							_html+='</div>';
								};
							} else {
								emptyval = false;
							}
						}
					} else {
						emptyval = false;
					}
					$('#data_list').append(_html);
				},
				complete: function() {
					yangshi();
					$('#console').css('display', 'none');
					ctrls = true;
					if(emptyval) { //加载循环点击事件
						/*跳转个人动态*/
						mui('.commcode-info-' + pageindex).on('tap', '.comm-head', function() {
							mui.openWindow({
								url: "",
								id: ""
							});
						});
						/*查看评论大图*/
						$('.comm-imglist').each(function(i){
							var cid = $(this).attr('title');							
							$(".imglist-"+pageindex+"-"+cid).viewer({
								title: false
							});
						});
					}
				}
			});
		}

		/*跳转个人动态*/
//		mui('.commcode-info-' + pageindex).on('tap', '.comm-head', function() {
//			mui.openWindow({
//				url: "",
//				id: ""
//			});
//		});
	</script>

</html>