<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<title>帮助</title>
		<meta content="" name="keywords">
		<meta content="" name="description">
		<include file="Base@Public/header" />
		<link rel="stylesheet" type="text/css" href="__CSS__/cpackage/index.css" />
	</head>

	<body class="bgeb">
		<div class="wrap-page">
			<include file="Base@Public/pubheader" />
			<form action="" id="form1" method="post" accept-charset="utf-8" enctype="multipart/form-data">
				<div class="mui-content">
					<div class="help-con fs14 divre bgcolor">
						<div class="help-title c3 fb600">一、优惠券使用</div>
						<div class="help-introduce c5">
							<span>1.每笔订单限使用1张优惠券，用劵后差额不找零，不退回；</span>
							<span>2.部分优惠券有使用范围限制，使用前请查看其券面说明；</span>
							<span>3.请在有效期内使用优惠劵，未使用的优惠劵过期后，将自动作废；</span>
							<span>4.取消订单或退款\退货，优惠券不退回，退款的金额按订单实际支付的金额退还；</span>
							<span>5.优惠券仅限线上订单支付时使用。</span>
						</div>
						<div class="help-title c3 fb600">二、优惠券获取</div>
						<div class="help-introduce c5">
							<span>1.活动赠送，发现首页的<font class="cy">宝箱/气球</font>等活动中获得；</span>
							<span>2.店铺领取，在商家店铺首页对应的优惠券专区中领取。</span>
						</div>
						<!-- <div class="help-phone">
							<div class="c5 fs11">如有其他问题，请拨打小蜜官方客服电话</div>
							<div class="h-phone fs14 c3 fb600">400-9603-400</div>
						</div> -->
					</div>
				</div>
			</form>
		</div>
		<include file="Base@Public/pubjs" />
	</body>
	<script type="text/javascript">
		
		window.onload = function() {
			
		}

	</script>

</html>
