<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,member-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<script type="text/javascript">var SKIN = "__HSKIN__";var HHOME = "__HHOME__";</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__HCSS__/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__HCSS__/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__HLIB__/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>商城管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>商城管理<span class="c-gray en">&gt;</span>支付记录<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	<form action="order_paylog" method="get">
	<div class="text-c">
		条件搜索：
		<input type="text" class="input-text" style="width:200px" placeholder="输入订单编号" name="orderid" value="{$post['orderid']}">
		<input type="text" class="input-text" style="width:250px" placeholder="输入第三方支付订单号" name="c_thirdparty" value="{$post['c_thirdparty']}">
		<input type="text" class="input-text" style="width:200px" placeholder="输入友收宝订单编号" name="c_payorderid" value="{$post['c_payorderid']}">
		<span class="select-box inline">
		<select name="payrule" class="select">
			<option value="">选择支付方式</option>
			<volist name="paytype" id="vo">
				<option value="{$vo['c_payrule']}" <if condition="$post['payrule'] eq $vo['c_payrule']">selected="selected"</if>>{$vo['c_payname']}</option>
			</volist>
		</select></span>
		<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i>搜记录</button>
	</div>
	</form>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="paylog_del('','',1)" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="30">ID</th>
				<th width="100">订单编号</th>
				<th width="60">支付金额</th>
				<th width="100">支付方式</th>
				<th width="100">第三方支付订单号</th>
				<th width="100">友收宝订单编号</th>
				<th width="100">支付来源</th>
				<th width="100">添加时间</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="list" id="vo">
			<tr class="text-c">
				<td><input type="checkbox" value="{$vo['c_id']}" name="paylogid"></td>
				<td>{$i}</td>
				<if condition ="$vo['url_flag'] eq 1" >
					<td>
						<a title="订单列表" href="__HHOME__/Scanpay/order_list?ncode={$vo.c_orderid}" style="text-decoration:none">{$vo['c_orderid']}</a>
					</td>
				<else/>
					<td>
						<a title="订单列表" href="__HHOME__/Order/index?orderid={$vo.c_orderid}" style="text-decoration:none">{$vo['c_orderid']}</a>
					</td>
				</if>

				<td>￥{$vo['c_money']}</td>
				<td>{$vo['c_payname']}</td>
				<td>{$vo['c_thirdparty']}</td>
				<td>{$vo['c_payorderid']}</td>
				<td>
					<if condition="$vo['c_source'] eq 1" >
						普通订单支付
					<else/>
						<font color="red">扫码支付</font>
					</if>
				</td>
				<td>{$vo['c_addtime']}</td>
				<td class="td-manage">
				 <a title="删除" href="javascript:;" onclick="paylog_del(this,'{$vo.c_id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				 </td>
			</tr>
			</volist>
		</tbody>
	</table>
	</div>
</div>
<div class="pages">{$page}</div>
<script type="text/javascript" src="__HLIB__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__HLIB__/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__HLIB__/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="__HLIB__/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__HLIB__/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__HJS__/H-ui.js"></script> 
<script type="text/javascript" src="__HJS__/H-ui.admin.js"></script> 
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "asc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  // {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
		]
	});
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			table.$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
});

function paylog_del(tobj,id,all){
	if (all == 1) {
		var id = '',k=0;		
		$("input[type=checkbox][name=paylogid]:checked").each(function(i) {			
			if (i == 0) {
				id += $(this).val();
			} else {
				id += '|'+$(this).val();
			}							
		});	
	}
	
	layer.confirm('记录删除须谨慎，确认要删除吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……	
		$.post(HHOME+'/Order/paylog_del',{Id:id}, function(obj) {
			var result = eval(obj);		
	        if (result['code'] != 0) {
	        	layer.msg(result['msg'],{icon:10,time:2000});        	      	
	        } else {
	        	$(tobj).parents("tr").remove();
	        	if (all == 1) {
	        		$("input[type=checkbox]").prop('checked',false);
	        		window.location.reload(); 
	        	} else {
	        		layer.msg(result['msg'],{icon:1,time:2000});
	        	}	        		        	
	        }        
	    });		
	});
}
</script> 
</body>
</html>