@charset "utf-8";
/* CSS Document */
img{width: 100%;height: 100%;}

/*搜索topbar*/
.search-bar{background: #47ABF7;max-width: 720px;margin: 0 auto; padding: 0 0 0 2%; position:fixed;z-index:2014;left: 0;right: 0;}
.mui-action-back{margin: 3% 0 0 0;}

.xiaomi-search{padding:3% 2%;float: left;width: 75%;}
.xm-search-con{background: #fff;border-radius: 50px;width: 100%;overflow: hidden;}
.mui-search{z-index: 2016;width: 68%;left: 30%;}
.mui-search:before{margin-top: -10px;font-size: 1.8rem;}
.mui-input-row{}
.xm-search-con input[type="search"]{background: #fff;width: 100%;padding: 2% 3% 2% 14%;text-align: left;}
.mui-search .mui-placeholder{right: 30%;}
.mui-placeholder span:nth-of-type(2){font-size: 1.3rem;}

.search-type{width: 25%;position: absolute;left: 5%;top: 0;text-align: center;overflow: hidden;z-index: 2017;}
.search-t-icon{width: 14%;margin-left: 6%;}
.search-t-font{}

.xm-search-btn{float: left;width: 15%;text-align: center;padding:3% 0;}

.xm-ss-type{left: 0; margin: 0 auto;z-index: 2018;width: 55%;padding: 0 10%;}
.xm-ss-con{width: 100%;}
.xm-ss-list{top: 10%;left: 0;right: 0;}
.xm-ss-list ul{overflow: hidden;}
.xm-ss-list ul li{padding: 8% 5%;border-bottom: solid 1px #000;overflow: hidden;color: #fff;}
.xm-ss-list ul li span{float: left;}
.xm-ss-list ul li span:nth-of-type(1){width: 15%;margin:0 10% 0 15%;}
.xm-ss-list ul li span:nth-of-type(2){}
.xm-ss-list ul li:nth-of-type(3){border-bottom: none;}

/*搜索~排序*/
.xm-ss-goodby{background: #fff;border-top: solid 1px #F3EBDA;max-width: 720px;margin: 0 auto; padding: 0 0 0 2%; position:fixed;z-index:2013;left: 0;right: 0;border-bottom: solid 1px #EBEBEB;}
ul.parent-orderby{ width: 100%; overflow: hidden;}
ul.parent-orderby li.orderby-p{float: left;width: 33%;text-align: center;padding: 2.5% 0;}
ul.parent-orderby li#orderby_1{overflow: hidden;}
ul.parent-orderby li#orderby_1 span{float: left;}
ul.parent-orderby li#orderby_1 span:nth-of-type(1){}
ul.parent-orderby li#orderby_1 span:nth-of-type(2){width: 10%;margin: 5% 0 0 3%;}
ul.sub-orderby{background: #fff;/*position: absolute;left: 0;z-index: 2018;*/width: 100%;}
ul.sub-orderby li{margin-left: 4%;border-top: solid 1px #EBEBEB;color: #333;padding: 3% 0;width: 96%;overflow: hidden;}
ul.sub-orderby li span{display: block;}
ul.sub-orderby li span:nth-of-type(1){float: left;}
ul.sub-orderby li span:nth-of-type(2){width: 5%;float: right;margin-right: 5%;}

.xm-ss-goodby ul li#orderby_2{}
.xm-ss-goodby ul li#orderby_3 span{display: block;width: 16%;float: right;margin-right: 8%;}




/* 动态 */
.t-s-dynamic-tit{ padding:3% 4% 3% 3%; border-bottom: 1px solid #d5d5d5;}
.t-s-dynamic-main{ /*padding:4% 0;*/}
.t-s-dynamic{ border-bottom: 1px solid #d5d5d5;padding: 3%;}
.t-s-dt-left{ width: 15%; overflow: hidden;}
.t-s-dt-right{ width: 82%; margin-left: 3%;}
.t-s-dt-name{ padding-top:2%; }
.t-s-dt-description{ margin: 3% 0 0 0;}
.t-s-dt-imglist{ padding: 3% 0;}
.t-s-dt-imglist ul {overflow: hidden;}
.t-s-dt-imglist ul li { overflow: hidden; width: 30%;margin-right: 1.5%;margin-bottom: 1.5%;float: left;}

.t-s-button-ico{padding:2% 0 0 0;}
.t-s-btn-ico-1{width: 5.5%;margin: 0.7% 0 0 0;}
.t-s-btn-ico-2{width: 5.5%;margin: 1.5% 0 0 5%;}
.t-s-btn-ico-3{width:50%}
.t-s-btn-praisec{width: 15%;}
.t-s-btn-praisen{padding:4% 2.7% 2.7% 2.7%;}

.t-s-dynamic-info{ width: 60%;}
.t-s-dynamic-img{ width: 20%;}


/*.t-s-video-li{width: 100%;height: auto;}
.t-s-video-li video{width: 100%;height: auto;max-height: 100%;display: block;}*/

.t-s-video-li{
    width:100%;
    position:relative;
    padding-top: 75%;
    height: 0;
}
.t-s-video-li video{
    position: absolute;
    width: 100%;
    max-height: 100%;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*借用2.0.1*/
.f-product-info{border: solid 1px #d9d9d9;padding: 3%;overflow: hidden;width: 100%;margin-top: 5%;cursor:pointer;}
.f-product-img{width: 15%;overflow: hidden;}
.f-pro-names-price{width: 78%;margin-left: 3%;}
.f-product-name{color: #333;font-size: 12px;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.f-product-price{color: #f9aa45;font-size: 14px;}
.f-pro-arrow{width:4%;overflow: hidden;}


.f-comment-all{width: 100%;overflow: hidden;margin-top: 5%;padding-right: 0;}
.f-comment-tit{color: #333;border-bottom: #ebebeb solid 1px;width: 100%;display: block;padding:2% 0px;margin-top: 3%;}
.f-comm-list{width: 100%;padding-top: 2%;}
.f-comm-box{width: 100%;overflow: hidden;}
.f-comm-send,.f-comm-reply{color: #555;padding: 2% 0 0 0;}
.f-comm-list span{color: #6496d6;}
.f-comm-send span,.f-comm-reply span{color: #6496d6;}
.f-comm-list em{color: #999;font-style: normal;}
.f-comm-send em,.f-comm-reply em{color: #999;font-style: normal;}
.f-check-all-comm{color: #555;padding-top: 3%;width: 100%;overflow: hidden;display: block;}
.f-com-del{padding:0px 2%;}



/*商家*/
.t-s-seller-img{width: 18%; overflow: hidden; border-radius: 50%; margin-right: 3%;}
.t-s-seller{margin-bottom: 3%;}
.t-s-seller ul{ padding-left: 4%;}
.t-s-seller ul li{ overflow: hidden; width: 100%;border-bottom: 1px solid #efefef; padding: 3% 0;}
.t-s-seller ul li:last-child{border-bottom: none;}

/*商城筛选条件*/
.filter-box{ margin-bottom: 0.8%; padding: 2% 0;}
.filter-box ul{ overflow: hidden; width: 100%;}
.filter-box ul li{ float: left; width: 33.3%; text-align: center; position: relative;}
.filter-typeImg{ width: 20%; margin-right: 10%;}
.filter-pullImg{ width: 7%; position: absolute; right: 10%; top: 45%;}
.filter-option{ width: 100%; top: 100%; background: #fff; padding-left: 4%; border-top: 2px solid #ebebeb;}
.filter-option ul{ padding-left: 4%; overflow: hidden;}
.filter-option ul li{ width: 100%;}
.filter-option p{ border-bottom: 1px solid #ebebeb; padding: 3.5% 0; color: #333;}
.filter-option p:last-child{ border-bottom: none; }


/*商城*/
.ts-horizontal{ width: 49.5%; float: left; background: #fff; margin-bottom: 0.8%;}
.ts-horizontal:nth-child(odd){ margin-right: 0.5%; }
.ts-horizontal:nth-child(even){ margin-left: 0.5%; }
.t-s-shopping-img{ width: 100%;overflow: hidden;}
.t-s-shopping-info{ padding: 4% 6%; }
.t-s-shopping-postage{ padding: 6% 0 4% 0;}
.t-s-shopping-psImg{ width: 20%;}
.t-s-shopping-price font{ color: #ffa740; padding-right: 10%;}
.t-s-shopping-name{width: 100%;}


.t-s-pro-box{padding-top: 2%;}
.t-s-pro-img{ width: 30%; margin-right: 3%;}
.t-s-pro-info{ width: 67%; padding: 2% 2% 0 0; border-bottom: 1px solid #ebebeb;}
.t-s-pro-info p{ padding: 2% 0;}
.t-s-pro-psImg{ width: 13%; padding: 1% 0;}
.t-s-pro-name{width: 100%;}


