<!DOCTYPE html>
 <html lang="en">
 <head>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
 	<title>小蜜商圈分享</title>
 	<include file="Base@Public/header" />
 	<link rel="stylesheet" type="text/css" href="__CSS__/tshare.css?v=2.99" />
 	<link rel="stylesheet" type="text/css" href="__COMMON__/css/viewer.min.css" />
 </head>
 <body class="bgcolor">
 	<div class="wrap-page" style="margin-bottom: 13%;">
 	<include file="Base@Public/pubheader" />
 		<input type="hidden" id="resurl" value="<?php echo encodeurl("https://" . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'])?>">
		<input type="hidden" name="ucode" id="ucode" value="{$ucode}">
		<?php if ($data['is_like'] == 0) { ?>
		<input type="hidden" id="prastatu{$data.c_id}" value="1">
		<?php } else { ?>
		<input type="hidden" id="prastatu{$data.c_id}" value="0">
		<?php } ?>
	
		<?php if ($data['is_attention'] == 0) { ?>
		<input type="hidden" id="attentatu{$data.c_id}" value="1">
		<?php } else { ?>
		<input type="hidden" id="attentatu{$data.c_id}" value="0">
		<?php } ?>		
			
		<div class="mui-content bgcolor">
			<!-- 商圈分享头部 -->
			<div class="ts-top divtab">
				<div class="ts-top-left fl fs14 c5">{$circlename}<span class="tsl-next fs13"><进入</span></div>
				<div class="ts-top-right fr"><img src="__IMG__/tshare/share_icon_dkxm.png" alt=""></div>
			</div>
			<div class="biankuang divtab bgeb"></div>

			<!-- 个人动态 -->
			<div class="ts-main divtab">
				<input type="hidden" id="issue_ucode" value="{$data.c_ucode}" />
				<div class="ts-main-left fl"><img src="{$data.c_headimg}" alt=""></div>
				<div class="ts-main-right fr">
					<div class="tsmr-top divtab">
						<div class="tsmrt-left fl">
							<div class="tshare-name divtab fs13 c5 fov">{$data.c_nickname}</div>
							<div class="tshare-time divtab fs11 c9"><span class="tt-time">{$data.switch_addtime}</span><span>{$data.c_address}</span></div>
						</div>
						<?php if($data['is_attention'] == 0) {	?>	
							<div class="tsmrt-right fr fs11 c9" id="attention-{$data['c_id']}" onclick="attentionss('{$data['c_id']} ','{$data['c_ucode']}',1,1)">关注</div>
						<?php } else { ?>
							<div class="tsmrt-right fr fs11 c9" id="attention-{$data['c_id']}" onclick="attentionss('{$data['c_id']}','{$data['c_ucode']}',1,0)">取消关注</div>
						<?php } ?>
					</div>

					<?php if($data['c_type']==1){ ?>
						<?php if(!empty($data['c_content'])){ ?>
						<div class="tmr-text c5 fs13 divtab">{$data.c_content}</div>
						<?php } ?>

						<?php if (count($data['imglist']) > 0) { ?>
							<ul  class="tmr-photo" id="imglist-1-1">
								<?php foreach ($data['imglist'] as $k1 => $v1) { ?>
								<li><img src="{$v1.c_thumbnail_img}" alt=""></li>
								<?php } ?>
							</ul>
						<?php }else if($data['c_type']==2){ ?>
						
						<?php } ?>

					<?php }else if($data['c_type']==2){ ?>
						<div class="t-s-video-li">											
							<video controls autobuffer class="video_w" poster="{$data['imglist'][0]['c_img']}" loop="loop" x-webkit-airplay="true" webkit-playsinline="true">
								<source src="{$data['c_videourl']}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'></source>
							</video>
						</div>							
					<?php } ?>	

					<?php if (count($data['tj_product']) > 0) { ?>
						<?php foreach ($data['tj_product'] as $k2 => $v2) { ?>
							<input type="hidden" id="cscource" value="{$v2['c_source']}" />
							<input type="hidden" id="curl" value="{$v2.url}" />
							<input type="hidden" id="pcode" value="$v2['c_pcode']" />	
					<div class="tsmrt-product">
						<div class="tsp-photo fl"><img src="{$v2.c_pimg}" alt=""></div>
						<div class="tsp-text fl">
							<div class="tsp-text1 divtab fs12 c5 fov">{$v2.c_name}</div>
							<div class="tsp-price divtab"><span class="fs11">￥</span><span class="fs14">{$v2.c_price}</span></div>
						</div>
						<div class="tsp-next fr"><img src="__IMG__/tshare/s_15.png" alt=""></div>
					</div>
					<?php } ?>
					<?php } ?>
				</div>
				<!-- 微领地小蜜点赞 -->
				<div class="ts-xiaomi divtab"><img src="__IMG__/tshare/share_erweima.png" alt=""></div>
				<div class="ts-dianzan divtab">
					<div class="ts-dianzan-img">
						<?php if ($data['is_like'] == 1) { ?>
							<img src="__IMG__/tshare/share_icon_dianzanbefore.png" alt="" id="praiseimg-{$data.c_id}" onclick="addpraise1('{$data.c_id}',1)">
						<?php } else { ?>
							<img src="__IMG__/tshare/share_icon_after.png" alt="" id="praiseimg-{$data.c_id}" onclick="addpraise1('{$data.c_id}',0)">
						<?php } ?>				
					</div>
					<div class="ts-dianzan-text divtab fs13 c6" id="praisenum-{$data.c_id}">5</div>
					<!-- <div class="ts-dianzan-img"><img src="__IMG__/tshare/share_icon_dianzanbefore.png" alt="" id="dianzan" title="1"></div>
					<div class="ts-dianzan-text divtab fs13 c6">抢第一个赞</div> -->
				</div>
			</div>
			
			<!-- 评论 -->
			<div class="ts-comment-all fs14 c3 divtab">全部评论{$data.c_comment}</div>
				<ul class="ts-comment-content divtab" id="comment-{$data['c_id']}">
					<?php foreach ($data['comment_list'] as $k3 => $v3) { ?>
					<?php if (!$v3['upucode']) { ?>
					<li id="comdel-{$v3.c_id}" onclick="sendcommt('{$data['c_id']}','回复：{$v3.c_nickname}','{$v3.c_ucode}','{$v3.c_id}')"  <?php if ($ucode == $v3['c_ucode']) ?>>
						<div class="ts-con-photo fl"><img src="{$v3.c_headimg}" alt=""></div>
						<div class="ts-con-text fr">
							<div class="ts-con-text1 fs12 divtab">
								<div class="tst-name fl c3 fov">
									{$v3.c_nickname}<span class="tst-name-time fs11 c9">{$v3.switch_addtime}</span>
								</div>
								<div class="tst-reply fr c9">回复</div>
							</div>
							<div class="ts-con-tsxt2 divtab fs12 c6">
								<div class="tst2-con fl c5">{$v3.c_content}</div>
								<div class="fr tst-del fs12" onclick="DeleteComment(this,'{$v3.c_id}');">删除</div>
							</div>
						</div>
					</li>
					
					<?php } else { ?>
					<li id="comdel-{$v3.c_id}" onclick="sendcommt('{$data['c_id']}','回复：{$v3.c_nickname}','{$v3.c_ucode}','{$v3.c_id}')" <?php if ($ucode == $v3['c_ucode']) ?>>
						<div class="ts-con-photo fl"><img src="{$v3.c_headimg}" alt=""></div>
						<div class="ts-con-text fr">
							<div class="ts-con-text1 fs12 divtab">
								<div class="c3 divtab fov">{$v3.c_nickname}<span class="c9 huifu1">回复</span>{$v3.upnickname}<span class="tst-name-time fs11 c9">{$v3.switch_addtime}</span></div>
							</div>
							<div class="ts-con-tsxt2 divtab fs12 c6">
								<div class="tst2-con fl c5">{$v3.c_content}</div>
								<div class="fr tst-del fs12" onclick="DeleteComment(this,'{$v3.c_id}');">删除</div>
							</div>
						</div>
					</li>
					<?php } ?>
					<?php } ?>

				<!-- </ul>
				<div class="ts-comment-top divtab">
					<div class="ts-comment-input c9 bgcolor fs13">我也来评论一句</div>
				</div>
				<div class="ts-comment-all fs14 c3 divtab">全部评论(<span>132</span>)</div>
				<ul class="ts-comment-content divtab">
					<li>
						<div class="ts-con-photo fl"><img src="__IMG__/tshare/logo2x.png" alt=""></div>
						<div class="ts-con-text fr">
							<div class="ts-con-text1 fs13 divtab">
								<div class="tst-name fl c5 fov">就爱小丸子<span class="tst-name-time fs11 c9">10分钟前</span></div>
								<div class="tst-reply fr c9">回复</div>
							</div>
							<div class="ts-con-tsxt2 divtab fs13 c6">打算改价格空间都发生过拉的感觉</div>
						</div>
					</li>
					<li>
						<div class="ts-con-photo fl"><img src="__IMG__/tshare/logo2x.png" alt=""></div>
						<div class="ts-con-text fr">
							<div class="ts-con-text1 fs13">
								<div class="c5 divtab fov">就爱小丸子<span class="c9 huifu1">回复</span>俺的沙发<span class="tst-name-time fs11 c9">10分钟前</span></div>
								
							</div>
							<div class="ts-con-tsxt2 divtab fs13 c6">打算改价格空间都发生过拉的感觉</div>
						</div>
					</li>
					<li>
						<div class="ts-con-photo fl"><img src="__IMG__/tshare/logo2x.png" alt=""></div>
						<div class="ts-con-text fr">
							<div class="ts-con-text1 fs13">
								<div class="tst-name fl c5 fov">就爱小丸子<span class="tst-name-time fs11 c9">10分钟前</span></div>
								<div class="tst-reply fr c9">回复</div>
							</div>
							<div class="ts-con-tsxt2 divtab fs13 c6">打算改价格空间都发生过拉的感觉</div>
						</div>
					</li>
				</ul>  -->
			
			<div class="biankuang divtab bgeb"></div>
			<!-- 当前商圈 -->
			<div class="ts-now divtab">
				<div class="ts-now-top"><img src="__IMG__/tshare/quanzi.png" alt=""></div>
				<div class="ts-noc-main divtab">
					<div class="tsnm-phopo fl"><img src="__IMG__/tshare/logo2x.png" alt=""></div>
					<div class="tsnm-content fl">
						<div class="tsnm-content-c1 divtab">
							<span class="shangquan fs14 c3">广大发光大厦</span>
							<span class="fs12 c6">已有5618名成员</span>
						</div>
						<div class="tsnm-content-c2 fs13 c6 divtab">最能代表广州生活气息的商圈，把生活过成了诗。</div>
					</div>
					<div class="tsnm-next fr fs16"><img src="__IMG__/tshare/jinru.png" alt=""></div>
				</div>
			</div>
		</div>
	
	<div class="send-comm-bottom">
		<div class="send-comm-tipimg fl"><img src="__IMG__/s-04_03.png" alt=""></div>
		<!-- <div class="sendcomm-praise fl">
			<?php if ($data['is_like'] == 1) { ?>
				<img src="__IMG__/praise_default2x.png" alt="" id="praiseimg-{$data.c_id}" onclick="addpraise('{$data.c_id}',0)">
			<?php } else { ?>
				<img src="__IMG__/praise_selection.png" alt="" id="praiseimg-{$data.c_id}" onclick="addpraise('{$data.c_id}',1)">
			<?php } ?>				
			<div class="sendcomm-praisenum fs11 c9" id="praisenum-{$data.c_id}">10</div>
		</div> -->
		<div class="sendcomm-share fl">
			<img src="__IMG__/district_icon_details_share2x.png" alt="" />
			<div class="sendcomm-sharetxt fs11 c9">分享</div>
		</div>
	</div>
</div>

<!-- 评论弹出框 -->
<div class="send-comm-bg"></div>
<div class="send-comm-pup">
	<div class="send-comm-puptit">评论</div>
	<div class="send-comm-txt">
		<textarea placeholder="输入评论内容" name="feel" id="feel" rows="6" class="fs12"></textarea>
	</div>
	<input type="hidden" name="rid" id="rid" value="">
	<input type="hidden" name="bid" id="bid" value="">
	<div class="send-comm-btn" onclick="subcomment(1);">发表</div>
</div>
 <include file="Base@Public/pubjs" /> 
 <script type="text/javascript" src="__COMMON__/js/viewer.min.js"></script>
 <script type="text/javascript" src="__JS__/option.js"></script>
 <script type="text/javascript">
 	var ucode = $('#ucode').val();
 	window.onload=function(){
 		styles(); 	
 	}
 	$(document).ready(function(){
 		/*查看图片*/
		$("#imglist-1-1").viewer({title:false});
	});
	/*样式*/
 	function styles(){
 		var tsmlw=$('.ts-main-left').width();
		$('.ts-main-left').height(tsmlw);
		$('.ts-main-left').css('border-radius',tsmlw+'px');

		$('.tmr-photo li').height($('.tmr-photo li').width()+'px');

		$('.ts-comment-input').css('border-radius',$('.ts-comment-input').width()*0.02+'px');

		
		$('.tsmrt-right').css('border-radius',$('.tsmrt-right').width()+'px');


		var tcpw=$('.ts-con-photo').width();
		$('.ts-con-photo').height(tcpw);
		$('.ts-con-photo').css('border-radius',tcpw+'px');

		var tp=$('.tsnm-phopo').width();
		$('.tsnm-phopo').height(tp);
		$('.tsnm-phopo').css('border-radius',tp+'px');

 		//$('.t-s-de-address').width($('.t-s-de-address').width());
 		
 		var addh = $('.t-s-de-addr-img').height();
 		$('.t-s-de-addr-img').css('line-height',addh+'px');
 	}
		
//	var aclick = 1;
	/*关注*/
//	mui('.t-s-details').on('tap','.t-s-de-attention',function(){
//		if(!ucode){
//	       mui.confirm('关注需登录','提示',['取消','确认'],function (e) {
//	       		e.index == 0 ? "" : mui.openWindow({url:WEB_HOST+'/index.php/Login/Index/index',id:'login'});
//	       },'div');
//	       return;
//	   	}
//		if(aclick==1){
//			mui.alert('关注');
//			$('.t-s-de-attention').text('取消关注');	
//			aclick=2;
//		}else{
//			mui.alert('取消关注');
//			$('.t-s-de-attention').text('关注');	
//			aclick=1;
//		}
//	});	
	
/*点赞*/
	function addpraise1(rid) {
		if(!ucode) {
			mui.confirm('点赞需登录', '提示', ['取消', '确认'], function(e) {
				e.index == 0 ? "" : mui.openWindow({
					url: WEB_HOST + '/index.php/Login/Index/index',
					id: 'login'
				});
			}, 'div');
			return;
		}

		var handle = $('#prastatu' + rid).val();
		$.post(WEB_HOST + '/index.php/Trade/Index/ResourceLike', {
				handle: handle,
				resourceid: rid
			},
			function(obj) {
				var msg = eval(obj);
				var com = '';
				if(msg['code'] == 0) {
					if(handle == 1) {
						$('#prastatu' + rid).val(0);
						$("#praiseimg-" + rid).attr('src', GET_HOST + '/Resource/Trade/img/tshare/share_icon_after.png');
						$("#praisenum-" + rid).text(parseInt($("#praisenum-" + rid).text()) - (-1));
					} else {
						$('#prastatu' + rid).val(1);
						$("#praiseimg-" + rid).attr('src', GET_HOST + '/Resource/Trade/img/tshare/share_icon_dianzanbefore.png');
						$("#praisenum-" + rid).text(parseInt($("#praisenum-" + rid).text()) - 1);
					}
					mui.toast(msg['msg']);
				} else {
					mui.toast(msg['msg']);
				}
			});

	}


	/*查看个人空间*/
	mui('.ts-main').on('tap','.ts-main-left',function(){
		var cscource = $('#cscource').val();
		mui.openWindow({
		    url: '', 
		    id:'myspace'
		});
	}); 
	/*商品详情*/
	mui('.ts-main').on('tap','.t-s-de-product',function(){		
		var cscource = $('#cscource').val();
		var pcode = $('#pcode').val();
		var curl = $('#curl').val();
		if(cscource==1){
			mui.openWindow({
			    url: curl, 
			    id:'product'
			});			
		}else if(cscource==2){
			mui.openWindow({
			    url: '__APP__/Home/Entitymap/details?pcode='+pcode, 
			    id:'product'
			});	
		}
	});
	
	/*浮动评论*/
	/*评论*/
	mui('.send-comm-bottom').on('tap','.send-comm-tipimg',function(){
		var rid = '<?php echo $data["c_id"] ?>';
		sendcommt(rid,'评论');		
	});
	/*分享*/
	mui('.send-comm-bottom').on('tap','.sendcomm-share',function(){
		fchat();
	});	
	
 	mui.plusReady(function(){
	});
 </script> 
 
 <include file="Base@Public/footer" />
 </body>
 </html>