<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<script type="text/javascript">var SKIN = "__HSKIN__";var HHOME = "__HHOME__";</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="__HLIB__/html5.js"></script>
<script type="text/javascript" src="__HLIB__/respond.min.js"></script>
<script type="text/javascript" src="__HLIB__/PIE_IE678.js"></script>
<![endif]-->
<link href="__HCSS__/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__HCSS__/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__HCSS__/style.css" rel="stylesheet" type="text/css" />
<link href="__HLIB__/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>活动管理</title>
<script type="text/javascript">
function clickups(ts){
	var star = $(ts).attr('alt');
	var gid = $(ts).attr('id'); 
	var obj = $(ts);

	if(star == 1){
		var message = "确认是否改为发放状态？";
	}else{
		var message = "确认是否改为不发放状态？";
	}
	layer.confirm(message,function(index){
		$.post(HHOME+'/Wordred/randomword_state',{active:star,gid:gid}, function(data){
			if(data == ""){
				if(star == 1){
					var id = 0;
					var src = '__HIMG__/no.gif';
				}else{
					var id = 1;
					var src = '__HIMG__/yes.gif';
				}
				obj.attr('src',src);
				obj.attr('alt',id);
				layer.msg('操作成功',{icon:10,time:2000}); 
				window.location.reload();
			}else{
				alert(data);
			}
		});
	});
}
</script>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 活动管理 <span class="c-gray en">&gt;</span>随机口令红包列表<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
<div class="pd-20 text-c">	
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="randomword_del('','',1)" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
	<a class="btn btn-primary radius" onclick="randomword_add('添加口令','randomword_add?aid={$aid}',800)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i>添加口令</a></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="30">ID</th>
					<th width="160">口令字符集</th>
					<th width="100">口令字数范围</th>
					<th width="80">口令允许分享次数</th>
					<th width="80">每人每天限制获得次数</th>
					<th width="100">口令类别</th>
					<th width="80">是否启用</th>
					<th width="80">更新时间</th>
					<th width="80">添加时间</th>
					<th width="80">操作</th>
				</tr>
			</thead>
			<tbody>
				<volist name="list" id="vo">
				<tr class="text-c">
					<td><input type="checkbox" name="randomwordid" value="{$vo.c_id}"></td>
					<td>{$i}</td>															
					<td>{$vo.c_string}</td>
					<td>{$vo.c_min}~{$vo.c_max}</td>
					<td>{$vo.c_num}</td>
					<td>{$vo.c_limit}</td>
					<td>
						<if condition="$vo['c_type'] eq 1" >普通类型<else/>扫码类型</if>
		         	</td>
					<td>
						<if condition="$vo['c_status'] eq 1" ><img src="__HIMG__/yes.gif" alt="0" class="activeop" id="{$vo['c_id']}" onclick="clickups(this);" /><else/><img src="__HIMG__/no.gif" alt="1" class="activeop" id="{$vo['c_id']}"   onclick="clickups(this);"/></if>
		         	</td>
		         	<td>{$vo.c_updatetime}</td>
					<td>{$vo.c_addtime}</td>
					<td class="f-14">
						<a title="编辑" href="javascript:;" onclick="randomword_edit('编辑','randomword_edit?Id={$vo.c_id}',780)" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
						<a title="删除" href="javascript:;" onclick="randomword_del(this,'{$vo.c_id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				</tr>
				</volist>				
			</tbody>
		</table>
	</div>	
</div>
<div class="pages">{$page}</div>		

<script type="text/javascript" src="__HLIB__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__HLIB__/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__HLIB__/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__HJS__/H-ui.js"></script> 
<script type="text/javascript" src="__HJS__/H-ui.admin.js"></script> 
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "asc" ]],//默认第几个排序
	"bStateSave": false,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,4]}// 制定列不参与排序
	]
});


/*系统-栏目-添加*/
function randomword_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*系统-栏目-编辑*/
function randomword_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*系统-栏目-删除*/
function randomword_del(tobj,id,all){
	if (all == 1) {
		var id = '',k=0;		
		$("input[type=checkbox][name=randomwordid]:checked").each(function(i) {			
			if (i == 0) {
				id += $(this).val();
			} else {
				id += '|'+$(this).val();
			}							
		});	
	}
	
	layer.confirm('删除须谨慎，确认要删除吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……	
		$.post(HHOME+'/Wordred/randomword_del',{Id:id}, function(obj) {
			var result = eval(obj);		
	        if (result['code'] != 0) {
	        	layer.msg(result['msg'],{icon:10,time:2000});        	      	
	        } else {
	        	$(tobj).parents("tr").remove();
	        	if (all == 1) {
	        		$("input[type=checkbox]").prop('checked',false);
	        		window.location.reload(); 
	        	} else {
	        		layer.msg(result['msg'],{icon:1,time:2000});
	        	}	        		        	
	        }        
	    });		
	});
}
</script>
</body>
</html>