<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>区域代理后台管理中心--激活账号</title>
<link rel="stylesheet" type="text/css" href="__CSS__/reset.css">
<link rel="stylesheet" type="text/css" href="__CSS__/login.css?v=1.7">
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__JS__/agent.js"></script>
</head>
<body> 	

<form action="" method="post">
      <div class="login-main-bg">
            <div class="login-top-main">
                <div class="login-top-logo fl"><img src="__IMG__/login/login-02_03.png" alt=""></div>
                <div class="login-top-font fl">区域代理后台管理中心</div>
            </div>
            <div class="login-info-main">
                <div class="login-info-tit">激活账号</div>
                <div class="login-text">
                    <div class="login-input fl" style="width:70%;">
                        <input type="text" class="usertext" name="" id="zk-code" placeholder="请输入钻石卡号">
                    </div>
                </div>
                <div class="login-text">
                    <div class="login-input fl">
                        <input type="text" class="usertext" name="" id="telephone" placeholder="请输入常用手机号">
                    </div>
                </div>
                <div class="login-text">
                    <div class="login-dx fr"><button>获取校验码</button></div>
                    <div class="login-input fl" style="width:70%;">
                        <input type="text" class="usertext" name="" id="tel-verify" placeholder="输入校验码">
                    </div>
                </div>
                <div class="login-sub"><input type="button" class="sub-login" value="激活账号"></div>
               
            </div>
            <img src="__IMG__/login/login-bg.jpg" alt="">
      </div>
</form>

    <script type="text/javascript" src="__LIB__/layer/1.9.3/layer.js"></script>
</body> 
<script type="text/javascript">
    window.onload = function() {
    }
    
</script> 
</html>
