
<!-- 微信分享 -->
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    wx.config({
        // debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<?php echo $signPackage["appId"];?>', // 必填，公众号的唯一标识
        timestamp: '<?php echo $signPackage["timestamp"];?>', // 必填，生成签名的时间戳
        nonceStr: '<?php echo $signPackage["nonceStr"];?>', // 必填，生成签名的随机串
        signature: '<?php echo $signPackage["signature"];?>', // 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    var imgUrl = '<?php echo $weixinshare["c_pthumbnail"];?>';
    var lineLink = '<?php echo $signPackage["url"];?>';
    var descContent = '<?php echo $weixinshare["c_discript"];?>';
    var shareTitle = '<?php echo $weixinshare["c_sharetitle"];?>';
    var returnurl =  '<?php echo $weixinshare["c_returnurl"];?>';
   
    function shareFriend() {
        if (!shareTitle) {
            shareTitle = document.title;
        }
        if (!descContent) {
            var meta = document.getElementsByTagName('meta');       
            for (i in meta) {
                if (typeof meta[i].name != "undefined" && meta[i].name.toLowerCase() == "description") {
                    descContent = meta[i].content;
                }
            }       
        }

        if(imgUrl.indexOf('.png')>=0 || imgUrl.indexOf('.jpg')>=0 || imgUrl.indexOf('.gif')>=0 || imgUrl.indexOf('.jpeg')>=0){
        } else {
            imgUrl = 'https://123.myshiyue.com/APP/Home/View/Public/img/logo.png';
        }
        if (!lineLink) {
            lineLink = 'https://www.iweilingdi.com';
        }
        WeixinJSBridge.invoke('sendAppMessage', {        
             "title": shareTitle,
             "link": lineLink,
             "desc": descContent,
            "img_url": imgUrl,
           
        }, function(res) {        
            // if (res.err_msg.indexOf("confirm") > 0) {
            //     shareReturn();
            // } 
            console.log(res.err_msg);
        })
    }

    function shareTimeline() {
        if (!shareTitle) {
            shareTitle = document.title;
        }
        if (!descContent) {
            var meta = document.getElementsByTagName('meta');       
            for (i in meta) {
                if (typeof meta[i].name != "undefined" && meta[i].name.toLowerCase() == "description") {
                    descContent = meta[i].content;
                }
            }       
        }

        if(imgUrl.indexOf('.png')>=0 || imgUrl.indexOf('.jpg')>=0 || imgUrl.indexOf('.gif')>=0 || imgUrl.indexOf('.jpeg')>=0){
        } else {
            imgUrl = 'https://wldappimg.iweilingdi.com/apppathimg/login/nlogo.png';
        }
        if (!lineLink) {
            lineLink = 'https://www.iweilingdi.com';
        }
        WeixinJSBridge.invoke('shareTimeline', {
             "title": shareTitle,
             "link": lineLink,
             "desc": descContent,
            "img_url": imgUrl,
        }, function(res) {   
            // if (res.err_msg.indexOf("ok") > 0) {
            //     shareReturn();
            // }         
        });
    }

    //分享回调方法
    function shareReturn() {
        if (returnurl) {
           $.get(returnurl, function(obj) {
            /*optional stuff to do after success */
            }); 
        }
    }
 
    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        // 发送给好友
        WeixinJSBridge.on('menu:share:appmessage', function(argv) {
            shareFriend();
        });

        // 分享到朋友圈
        WeixinJSBridge.on('menu:share:timeline', function(argv) {
            shareTimeline();
        });

    }, false);
</script>