<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<title>营销中心</title>
		<meta content="微域领地,微域领地系统" name="keywords">
		<meta content="" name="description">
		<include file="Base@Public/header" />
		<link rel="stylesheet" type="text/css" href="__CSS__/rebate/index.css?v=1.2">
	</head>

	<body>
		<div class="wrap-page" style="margin-bottom: 13%;">
			<include file="Base@Public/pubheader" />
			<div class="mui-content">
				<!--购买优惠-->
				<div id="rebate-con">
					<!-- <div class="rebate-list bgcolor" onclick="set_rebate(1,'pcode')">
			<div class="rebate-pro-info">
				<div class="pro-info-img fl">
					<img src="__IMG__/rebate/shop_img_1.jpg" alt="">
					<div class="pro-img-type"><img src="__IMG__/rebate/ziying.png" alt=""></div>
				</div>
				<div class="pro-information fl">
					<div class="pro-info-name c3 fs14">锦宫 LR-RK1C 轻松熊中英文标签打印机</div>
					<div class="pro-info-price fs18"><span class="fs12">￥</span>456</div>
					<div class="pro-post c5">包邮</div>
					<div class="pro-putaway">已上架</div>
				</div>
			</div>	
			<div class="rebate-pro-info rebate-input">
				<div class="re-input-checkbox fr"><input type="checkbox" name="isrebate" id="isrebate_0" vlaue="1" checked="checked" onclick="click_rebate('isrebate',0)"></div>
				<div class="re-input-font fl c5 fs14">优惠比例</div>
				<div class="re-input-text fl"><input type="text" name="" id="isrebate_val_0" vlaue="" class="re-txt c5 fs12" maxlength="10" onclick="set_rebate(1,'pcode')"></div>
				<div class="re-input-font fl c5 fs14">%</div>
			</div>	
		</div>


		<div class="rebate-list bgcolor" onclick="set_rebate(1,'pcode')">
			<div class="rebate-pro-info">
				<div class="pro-info-img fl">
					<img src="__IMG__/rebate/shop_img_1.jpg" alt="">
					<div class="pro-img-type"><img src="__IMG__/rebate/daili.png" alt=""></div>
				</div>
				<div class="pro-information fl">
					<div class="pro-info-name c3 fs14">锦宫 LR-RK1C 轻松熊中英文标签打印机</div>
					<div class="pro-info-price fs18"><span class="fs12">￥</span>456</div>
					<div class="pro-post c5">包邮</div>
					<div class="pro-putaway">已上架</div>
				</div>
			</div>	
			<div class="rebate-pro-info rebate-input">
				<div class="re-input-checkbox fr"><input type="checkbox" name="isrebate" id="isrebate_1" vlaue="1" onclick="click_rebate('isrebate',1)" checked="checked"></div>
				<div class="re-input-font fl c5 fs14">优惠比例</div>
				<div class="re-input-text fl"><input type="text" name="" id="isrebate_val_1" vlaue="" class="re-txt c5 fs12" maxlength="10" onclick="set_rebate(1,'pcode')"></div>
				<div class="re-input-font fl c5 fs14">%</div>
			</div>	
		</div> -->

				</div>

				<!--分享佣金-->
				<div id="spread-con" class="none">
					<div class="rebate-list bgcolor" onclick="set_rebate(2,'pcode')">
						<div class="rebate-pro-info">
							<div class="pro-info-img fl">
								<img src="__IMG__/rebate/shop_img_1.jpg" alt="">
								<div class="pro-img-type"><img src="__IMG__/rebate/ziying.png" alt=""></div>
							</div>
							<div class="pro-information fl">
								<div class="pro-info-name c3 fs14">锦宫 LR-RK1C 轻松熊中英文标签打印机</div>
								<div class="pro-info-price fs18"><span class="fs12">￥</span>456</div>
								<div class="pro-post c5">包邮</div>
								<div class="pro-putaway">已上架</div>
							</div>
						</div>
						<div class="rebate-pro-info rebate-input">
							<div class="re-input-checkbox fr"><input type="checkbox" name="isspread" id="isspread_0" vlaue="1" checked="checked" onclick="click_rebate('isspread',0)"></div>
							<div class="re-input-font fl c5 fs14">佣金比例</div>
							<div class="re-input-text fl"><input type="text" name="" id="isspread_val_0" vlaue="" class="re-txt c5 fs12" maxlength="10" onclick="set_rebate(2,'pcode')"></div>
							<div class="re-input-font fl c5 fs14">%</div>
						</div>
					</div>

					<div class="rebate-list bgcolor" onclick="set_rebate(2,'pcode')">
						<div class="rebate-pro-info">
							<div class="pro-info-img fl">
								<img src="__IMG__/rebate/shop_img_1.jpg" alt="">
								<div class="pro-img-type"><img src="__IMG__/rebate/daili.png" alt=""></div>
							</div>
							<div class="pro-information fl">
								<div class="pro-info-name c3 fs14">锦宫 LR-RK1C 轻松熊中英文标签打印机</div>
								<div class="pro-info-price fs18"><span class="fs12">￥</span>456</div>
								<div class="pro-post c5">包邮</div>
								<div class="pro-putaway">已上架</div>
							</div>
						</div>
						<div class="rebate-pro-info rebate-input">
							<div class="re-input-checkbox fr"><input type="checkbox" name="isspread" id="isspread_1" vlaue="1" onclick="click_rebate('isspread',1)" checked="checked"></div>
							<div class="re-input-font fl c5 fs14">佣金比例</div>
							<div class="re-input-text fl"><input type="text" name="" id="isspread_val_1" vlaue="" class="re-txt c5 fs12" maxlength="10" onclick="set_rebate(2,'pcode')"></div>
							<div class="re-input-font fl c5 fs14">%</div>
						</div>
					</div>

				</div>

				<div class="rebate-agree-bg" id="rebate-share-bg"></div>
				<div class="rebate-agree" id="rebate-share">
					<div class="rebate-agree-con">
						<div class="rebate-tit fs16">分享佣金协议</div>
						<div class="rebate-font c5 fs14">小蜜会员将商品分享转发出去，只要有人通过转发出去的链接购买并支付，分享者将获得分享佣金。</div>
						<div class="rebate-font fs14">想要有更多的的小蜜会员帮您分享推广商品么，设置每一款商品分享佣金让更多的人帮您做分享推广吧。</div>
						<div class="rebate-equation">
							<img src="__IMG__/rebate/equatoin-1.jpg" alt="">
						</div>
						<div class="rebate-agree-btn fs16" id="share-agree">同意</div>
						<div class="rebate-close" id="share-colse"><img src="__IMG__/rebate/cha.png" alt=""></div>
					</div>
				</div>

				<div class="rebate-agree-bg" id="rebate-buy-bg"></div>
				<div class="rebate-agree" id="rebate-buy">
					<div class="rebate-agree-con">
						<div class="rebate-tit fs16">购买优惠协议</div>
						<div class="rebate-font c5 fs14">小蜜会员购买商品确认收货后获得商家的商家购买优惠，以缩短会员确认收货时间。</div>
						<div class="rebate-equation">
							<img src="__IMG__/rebate/equatoin-2.jpg" alt="">
						</div>
						<div class="rebate-agree-btn fs16" id="buy-agree">同意</div>
						<div class="rebate-close" id="buy-colse"><img src="__IMG__/rebate/cha.png" alt=""></div>
					</div>
				</div>
			</div>

		</div>
		<include file="Base@Public/pubjs" />		
		<script type="text/javascript" src="__COMMON__/js/jquery.cookie.js"></script>
		<script type="text/javascript">
			var rtype = '<?php echo $rtype ?>';
			window.onload = function() {
				if(rtype == 1) {
					if($.cookie('buypup') == 1) {
						$("#rebate-buy-bg").fadeOut();
						$("#rebate-buy").fadeOut();
					} else {
						$("#rebate-buy-bg").fadeIn(300);
						$("#rebate-buy").fadeIn(300);
						$("#rebate-buy-bg").height($(document).height());
					}
				} else if(rtype == 2) {
					if($.cookie('sharepup') == 1) {
						$("#rebate-share-bg").fadeOut();
						$("#rebate-share").fadeOut();
					} else {
						$("#rebate-share-bg").fadeIn(300);
						$("#rebate-share").fadeIn(300);
						$("#rebate-share-bg").height($(document).height());
					}
				}

				$("#share-colse").click(function() {
					$("#rebate-share-bg").fadeOut();
					$("#rebate-share").fadeOut();
					$.cookie('sharepup', '1', {
						expires: 1
					});
				});
				$('#share-agree').click(function() {
					$("#rebate-share-bg").fadeOut();
					$("#rebate-share").fadeOut();
					$.cookie('sharepup', '1', {
						expires: 1
					});
				});

				$("#buy-colse").click(function() {
					$("#rebate-buy-bg").fadeOut();
					$("#rebate-buy").fadeOut();
					$.cookie('buypup', '1', {
						expires: 1
					});
				});
				$('#buy-agree').click(function() {
					$("#rebate-buy-bg").fadeOut();
					$("#rebate-buy").fadeOut();
					$.cookie('buypup', '1', {
						expires: 1
					});
				});
				styles();
			}

			function styles() {
				$('.pro-info-img').width($('.pro-info-img').width());
				$('.pro-info-img').height($('.pro-info-img').width());
				var imgh = $('.pro-info-img').height(),
					imgh2 = imgh * 80 / 100;
				$('.pro-information').height(imgh);
				var txth = $('.re-input-text').height();
				$('.rebate-input').css('line-height', txth + 'px');
			}

			var ctrls = true;
			var emptyval = true;
			var pageindex = 1;
			getlist(pageindex);
			$(window).bind('scroll', function() {
				if(($(window).scrollTop() + $(window).height()) >= ($(document).height() - 60)) {
					if(ctrls && emptyval) {
						getlist(pageindex);
					}
				}
			});
			/*获取数据列表*/
			function getlist(page) {
				if(page == 1) {
					pageindex = 1;
				}
				var _html = "";
				$.ajax({
					type: 'get',
					dataType: 'json',
					url: '__URL__/MarketProducts?pageindex=' + pageindex + '&rtype=' + rtype,
					cache: false,
					beforeSend: function() {
						$('#console').css('display', 'block');
						$('#console').html('加载中...');
						ctrls = false;
					},
					error: function() {
						$('#console').css('display', 'block');
						$('#console').html('加载失败');
						ctrls = true;
					},
					success: function(obj) {
						if(pageindex == 1) {
							$('#rebate-con').empty();
						}
						var msgs = eval(obj);
						if(msgs['code'] == 0) {
							var data = msgs.data;
							if(data == null || data.list == null) {
								if(pageindex == 1) {
									_html += '<div class="data-empty divtab">';
									_html += '<div class="data-empty-img"><img src="__COMMON__/img/empty_bg_card.png" alt="" /></div>';
									_html += '<div class="data-empty-font c3 fs14">没有找到相关信息</div>';
									_html += '</div>';	
								}
								emptyval = false;
							}
							if(pageindex <= data.pageCount) {
								pageindex++;
								var datalist = data.list;
								for(var i = 0; i < datalist.length; i++) {
									_html += '<div class="rebate-list bgcolor">';
									_html += '<div class="rebate-pro-info" onclick="set_rebate(' + rtype + ',\'' + datalist[i]['c_pcode'] + '\')">';
									_html += '<div class="pro-info-img fl" style="overflow: hidden;">';
									_html += '<img src="' + datalist[i]['c_pimg'] + '" alt="">';
									var isagent = datalist[i]['c_isagent'];
									if(isagent == 0) {
										_html += '<div class="pro-img-type"><img src="__IMG__/rebate/ziying.png" alt=""></div>';
									} else {
										_html += '<div class="pro-img-type"><img src="__IMG__/rebate/daili.png" alt=""></div>';
									}
									_html += '</div>';
									_html += '<div class="pro-information fl">';
									_html += '<div class="pro-info-name c3 fs14">' + datalist[i]['c_name'] + '</div>';
									_html += '<div class="pro-info-price fs18"><span class="fs12">￥</span>' + datalist[i]['c_price'] + '</div>';
									var isfree = datalist[i]['c_isfree'];
									if(isfree == 1) {
										_html += '<div class="pro-post c5">包邮</div>';
									} else {
										_html += '<div class="pro-post" style="color:#f79f21">包邮</div>';
									}
									var isshow = datalist[i]['c_ishow'];
									if(isshow == 1) {
										_html += '<div class="pro-putaway">已上架</div>';
									} else {
										_html += '<div class="pro-putaway">已下架</div>';
									}
									_html += '</div>';
									_html += '</div>';
									_html += '<div class="rebate-pro-info rebate-input">';

									if(rtype == 1) {
										var isreba = datalist[i]['c_isrebate'];
										var strin = "";
										var spreadval = datalist[i]['c_rebate_proportion'];
										if(spreadval) {
											strin = datalist[i]['c_rebate_proportion'];
										} else {
											strin = "";
										}
										if(isreba == 1) {
											_html += '<div class="re-input-checkbox fr"><input type="checkbox" name="isrebate" id="isrebate_' + i + '" vlaue="' + datalist[i]['c_isrebate'] + '" onclick="click_rebate(\'isrebate\',' + i + ')" checked="checked"></div>';
											_html += '<div class="re-input-font fl c5 fs14">优惠比例</div>';
											_html += '<div class="re-input-text fl"><input type="text" name="" id="isrebate_val_' + i + '" placeholder="' + strin + '" class="re-txt c5 fs12" maxlength="10" onclick="set_rebate(' + rtype + ',\'' + datalist[i]['c_pcode'] + '\')" style="background-color:#fff;" ></div>';
										} else {
											_html += '<div class="re-input-checkbox fr"><input type="checkbox" name="isrebate" id="isrebate_' + i + '" vlaue="' + datalist[i]['c_isrebate'] + '" onclick="click_rebate(\'isrebate\',' + i + ')"></div>';
											_html += '<div class="re-input-font fl c5 fs14">优惠比例</div>';
											_html += '<div class="re-input-text fl"><input type="text" name="" id="isrebate_val_' + i + '" placeholder="' + strin + '" class="re-txt c5 fs12" maxlength="10" onclick="set_rebate(' + rtype + ',\'' + datalist[i]['c_pcode'] + '\')" readonly="readonly" style="background-color:#ccc;" ></div>';
										}
									} else {
										var isspre = datalist[i]['c_isspread'];
										var strp = "";
										var spreadval = datalist[i]['c_spread_proportion'];
										if(spreadval) {
											strp = datalist[i]['c_spread_proportion'];
										} else {
											strp = "";
										}
										if(isspre == 1) {
											_html += '<div class="re-input-checkbox fr"><input type="checkbox" name="isrebate" id="isrebate_' + i + '" vlaue="' + datalist[i]['c_isspread'] + '" onclick="click_rebate(\'isrebate\',' + i + ')" checked="checked"></div>';
											_html += '<div class="re-input-font fl c5 fs14">佣金比例</div>';
											_html += '<div class="re-input-text fl"><input type="text" name="" id="isrebate_val_' + i + '" placeholder="' + strp + '" class="re-txt c5 fs12" maxlength="10" onclick="set_rebate(' + rtype + ',\'' + datalist[i]['c_pcode'] + '\')" style="background-color:#fff;" ></div>';
										} else {
											_html += '<div class="re-input-checkbox fr"><input type="checkbox" name="isrebate" id="isrebate_' + i + '" vlaue="' + datalist[i]['c_isspread'] + '" onclick="click_rebate(\'isrebate\',' + i + ')"></div>';

											_html += '<div class="re-input-font fl c5 fs14">佣金比例</div>';
											_html += '<div class="re-input-text fl"><input type="text" name="" id="isrebate_val_' + i + '" placeholder="' + strp + '" class="re-txt c5 fs12" maxlength="10" onclick="set_rebate(' + rtype + ',\'' + datalist[i]['c_pcode'] + '\')" readonly="readonly" style="background-color:#ccc;" ></div>';
										}
									}
									_html += '<div class="re-input-font fl c5 fs14">%</div>';
									_html += '</div>';
									_html += '</div>';

								}
							} else {
								emptyval = false;
							}
						} else {
							emptyval = false;
						}
						$('#rebate-con').append(_html);
						$('#console').css('display', 'none');
					},
					complete: function() {
						styles();
						ctrls = true;
					}
				});
			}

			/**/
			function click_rebate(name, i) {
				if($('#' + name + '_' + i).attr('checked')) {
					$('#' + name + '_val_' + i).css('background-color', '#fff');
					$('#' + name + '_val_' + i).attr('readonly', '');
				} else {
					$('#' + name + '_val_' + i).css('background-color', '#e5e5e5');
					$('#' + name + '_val_' + i).attr('readonly', 'readonly');
				}
			}

			/*查看详情，设置佣金，优惠*/
			function set_rebate(val, pcode) {
				window.location.href = "__URL__/detail?pcode=" + pcode + "&rtype=" + val;
			}
		</script>
	</body>

</html>