<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8">
	    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
	    <meta name="format-detection" content="telephone=no, email=no" />        
        <title>关于小蜜</title>
		<meta content="" name="keywords">
		<meta content="" name="description">
    	<include file="Base@Public/header" />
	    <link rel="stylesheet" type="text/css" href="__CSS__/about/index.css?v=1.2">
    </head>
    <body>
        <div class="wrap-page bgcolor">
        <include file="Base@Public/pubheader" />
            <div class="mui-content">
        	<div class="about-xiaomi">
        		{$content}
        	</div>
            </div>
        </div>
        
	    <include file="Base@Public/pubjs" />
    </body>
</html>
