<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="__IMG__/favicon.ico">
<title>后台管理中心--提取账号</title>
<link rel="stylesheet" type="text/css" href="__CSS__/reset.css">
<link rel="stylesheet" type="text/css" href="__CSS__/login.css?v=1.7">
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__JS__/agent.js"></script>
</head>
<body>  

<form action="" method="post">
      <div class="login-main-bg">
            <div class="login-top-main">
                <div class="login-top-logo fl"><img src="__IMG__/login/login-02_03.png" alt=""></div>
                <div class="login-top-font fl">后台管理中心</div>
            </div>
            <div class="login-info-main">
                <div class="login-info-tit">提取您的账号</div>
                <a class="get-account" href="__APP__/Home/Login/areaagent">区域经理帐号激活</a>
                <a class="get-account" href="__APP__/Home/Login/cityagent">代理商帐号激活</a>
                <a class="get-account" href="__APP__/Home/Login/shopagent">商家帐号激活</a>
            </div>
            <img src="__IMG__/login/login-bg.jpg" alt="">
      </div>
</form>

    <script type="text/javascript" src="__LIB__/layer/1.9.3/layer.js"></script>
</body> 
<script type="text/javascript">
  
</script> 
</html>
