<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,member-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<script type="text/javascript">var SKIN = "__HSKIN__";var HHOME = "__HHOME__";</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="__HLIB__/html5.js"></script>
<script type="text/javascript" src="__HLIB__/respond.min.js"></script>
<script type="text/javascript" src="__HLIB__/PIE_IE678.js"></script>
<![endif]-->
<link href="__HCSS__/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__HCSS__/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__HLIB__/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__HLIB__/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>添加奖品</title>
</head>
<body>
<div class="pd-20">
	<form action="{$action}" method="post" class="form form-horizontal" enctype="multipart/form-data">
		<div id="tab-category" class="HuiTab">
			<div class="tabCon">
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>奖品名称：</label>
				<div class="formControls col-6">
					<input type="text" class="input-text" value="{$vo.c_name}" placeholder="" id="" name="name" placeholder="">
				</div>
				<div class="col-3"> </div>
			</div>
			<div class="row cl">
		      <label class="form-label col-3"><span class="c-red">*</span>展示图片：</label>
		      <div class="formControls col-6">
		      	<input type="file" name="img">
		      </div>
		      <div class="col-4"> </div>
		    </div>
			<div class="row cl">
		      <label class="form-label col-3"><span class="c-red">*</span>奖品价值：</label>
		      <div class="formControls col-6">
		       <input type="text" class="input-text" value="{$vo.c_value}" placeholder="" id="" name="value">
		      </div>
		      <div class="col-4"> </div>
		    </div>
		   	<div class="row cl">
		      <label class="form-label col-3"><span class="c-red">*</span>总数量：</label>
		      <div class="formControls col-6">
		       <input type="text" class="input-text" value="{$vo.c_totalnum}" id="" name="totalnum" placeholder="">
		      </div>
		      <div class="col-4"> </div>
		    </div>
		    <div class="row cl">
		      <label class="form-label col-3"><span class="c-red">*</span>剩余数量：</label>
		      <div class="formControls col-6">
		       <input type="text" class="input-text" value="{$vo.c_num}" id="" name="num" placeholder="">
		      </div>
		      <div class="col-4"> </div>
		    </div>
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>奖品类型：</label>
				<div class="formControls col-6">
					<span class="select-box">
						<select class="select" id="sel_Sub" name="type">
							<option value="2" <if condition="$vo.c_type eq 2">selected="selected"</if>>现金</option>
							<option value="4" <if condition="$vo.c_type eq 4">selected="selected"</if>>实物</option>
							<option value="1" <if condition="$vo.c_type eq 1">selected="selected"</if>>空奖</option>
						</select>
					</span>
				</div>
				<div class="col-3"> </div>
			</div>
			<div class="row cl">
				<label class="form-label col-3">所属商家：</label>
				<div class="formControls col-6"> <span class="select-box">
					<select name="ucode" class="select" onClick="selectucode('请选择用户','Member/member_list?hide=1&shop=1',800);" id="typecheck">
						<if condition="$data['c_ucode'] neq null">
						<option value="{$data.c_ucode}">{$data.c_nickname}</option></if>
						<option value="{$vo.c_ucode}">{$vo.c_nickname}</option>
					</select>
	        	</span>
				</div>
				<div class="col-3"><span class="c-red">*只有奖品为实物的时候选择</span> </div>
				<div class="col-3"> </div>
			</div>							
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>奖品状态：</label>
				<div class="formControls col-6">
					<span class="select-box">
						<select class="select" id="sel_Sub" name="status">
							<option value="">--请选择--</option>
							<option value="1" <if condition="$vo.c_status eq 1">selected="selected"</if>>参与活动</option>
							<option value="2" <if condition="$vo.c_status eq 2">selected="selected"</if>>不参与活动</option>
						</select>
					</span>
				</div>
				<div class="col-3"> </div>
			</div>
		    <div class="row cl">
		      <label class="form-label col-3">是否为今日奖品：</label>
		      <div class="formControls col-6">
				<span class="select-box">
					<select class="select" name="today_prize">
						<option value="">--请选择--</option>
						<option value="1" <if condition="$vo.c_today_prize eq 1">selected="selected"</if>>是</option>
						<option value="2" <if condition="$vo.c_today_prize eq 2">selected="selected"</if>>否</option>
					</select>
				</span>
			   </div>
			   <div class="col-3"><span class="c-red">*转盘活动必选</span> </div>
		       <div class="col-3"> </div>
		    </div>
		    <div class="row cl">
		      <label class="form-label col-3">奖项标志：</label>
		      <div class="formControls col-6">
				<span class="select-box">
					<select class="select" name="marks">
						<option value="">--请选择--</option>
						<option value="1" <if condition="$vo.c_marks eq 1">selected="selected"</if>>位置一</option>
						<option value="2" <if condition="$vo.c_marks eq 2">selected="selected"</if>>位置二</option>
						<option value="3" <if condition="$vo.c_marks eq 3">selected="selected"</if>>位置三</option>
						<option value="4" <if condition="$vo.c_marks eq 4">selected="selected"</if>>位置四</option>
						<option value="5" <if condition="$vo.c_marks eq 5">selected="selected"</if>>位置五</option>
						<option value="6" <if condition="$vo.c_marks eq 6">selected="selected"</if>>位置六</option>
						<option value="7" <if condition="$vo.c_marks eq 7">selected="selected"</if>>位置七</option>
						<option value="8" <if condition="$vo.c_marks eq 8">selected="selected"</if>>位置八</option>
					</select>
				</span>
			   </div>
			   <div class="col-3"><span class="c-red">*转盘活动必选</span> </div>
		       <div class="col-3"> </div>
		    </div>
			<div class="row cl">
				<div class="col-9 col-offset-3">
					<input type="hidden" name="Id" value="{$vo.c_id}">
					<input type="hidden" name="joinaid" value="{$joinaid}">
					<input type="submit" value="提交" class="btn btn-primary radius">
				</div>
			</div>
	</form>
</div>
</div>
<script type="text/javascript" src="__HLIB__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__HLIB__/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__HLIB__/Validform/5.3.2/Validform.min.js"></script> 
<script type="text/javascript" src="__HLIB__/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="__HJS__/H-ui.js"></script> 
<script type="text/javascript" src="__HJS__/H-ui.admin.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-category-add").Validform({
		tiptype:2,
		callback:function(form){
			form[0].submit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
	$.Huitab("#tab-category .tabBar span","#tab-category .tabCon","current","click","0");
});
//选择商家
function selectucode(title,url,w,h) {
	layer_show(title,url,w,h);
	$('.ctrl_hidden').hide();
}
</script>
</body>
</html>