<!doctype html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="shortcut icon" href="__IMG__/favicon.ico">
		<title>商家后台管理--商家资料</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/agent.css">
		<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="__JS__/common.js?v=2017325"></script>
		<script type="text/javascript">
			var WEB_HOST = "<?php echo WEB_HOST ?>";
		</script>
		<script type="text/javascript" src="__JS__/ajaxfileupload.js"></script>

	</head>

	<body>

		<include file="Common/head" />

		<div class="content-s w_960">
			<form action="" id="form1" method="post" accept-charset="utf-8" enctype="multipart/form-data">
				<div class="page-title">
					<div class="page-tit-name" style="width: 20%;" >上传整体门店(含招牌)</div>
				</div>
				<div class="fs12 c9" style="margin: 3% 4%;">
					<p style="padding: 2% 0 0 0;">注：图片大小规格500k以内。</p>
				</div>
				<ul class="ul-certificate">
					<li>
						<div class="zjz-list" onclick="clickimg(1);">
							<img src="__IMG__/add.jpg" alt="">
							<?php if($vo['c_storeimg'] !=null){ ?>
							<div class="pic-front"><img id="imgr1" src="<?php echo GetHost(); ?>/{$vo.c_storeimg}" alt=""></div>
							<input type="hidden" name="storeimg" value="{$vo.c_storeimg}" id="saveimg_1">
							<?php }else{ ?>
							<div class="pic-front"><img id="imgr1" src="__IMG__/add.jpg" alt=""></div>
							<input type="hidden" name="storeimg" value="" id="saveimg_1">
							<?php } ?>

							<input type="file" name="storeimg" value="" id="file1" placeholder="" onclick="clickimg(1);" >
						</div>
						<div class="box-delete none" <?php if(!empty($vo['c_dcode']) && $vo['c_checked']==1 ){ ?> style="display:block"
							<?php } ?> onclick="deleteimg(1)" id="delimg_1"><img src="__IMG__/fc-16.png" alt=""></div>
					</li>
				</ul>

				<div class="page-title">
					<div class="page-tit-name">上传收银台图</div>
				</div>
				<div class="fs12 c9" style="margin: 3% 4%;">
					<p style="padding: 2% 0 0 0;">注：图片大小规格500k以内。</p>
				</div>
				<ul class="ul-certificate">
					<li>
						<div class="zjz-list" onclick="clickimg(2);">
							<img src="__IMG__/add.jpg" alt="">
							<?php if($vo['c_deskimg'] !=null){ ?>
							<div class="pic-front"><img id="imgr2" src="<?php echo GetHost(); ?>/{$vo.c_deskimg}" alt=""></div>
							<?php }else{ ?>
							<div class="pic-front"><img id="imgr2" src="__IMG__/add.jpg" alt=""></div>
							<?php } ?>
							<input type="hidden" name="deskimg" value="{$vo.c_deskimg}" id="saveimg_2">
							<input type="file" name="deskimg" value="" id="file2" placeholder="" onclick="clickimg(2);" >
						</div>
						<div class="box-delete none" <?php if(!empty($vo['c_dcode']) && $vo['c_checked']==1 ){ ?> style="display:block"
							<?php } ?> onclick="deleteimg(2)" id="delimg_2"><img src="__IMG__/fc-16.png" alt=""></div>
					</li>
				</ul>

				<div class="page-title">
					<div class="page-tit-name">上传店内环境</div>
				</div>
				<div class="fs12 c9" style="margin: 3% 4%;">
					<p style="padding: 2% 0 0 0;">注：图片大小规格500k以内。</p>
				</div>
				<ul class="ul-certificate">
					<li>
						<div class="zjz-list" onclick="clickimg(3);">
							<img src="__IMG__/add.jpg" alt="">
							<?php if($vo['c_storeinsideimg'] !=null){ ?>
							<div class="pic-front"><img id="imgr3" src="<?php echo GetHost(); ?>/{$vo.c_storeinsideimg}" alt=""></div>
							<?php }else{ ?>
							<div class="pic-front"><img id="imgr3" src="__IMG__/add.jpg" alt=""></div>
							<?php } ?>
							<input type="hidden" name="storeinsideimg" value="{$vo.c_storeinsideimg}" id="saveimg_3">
							<input type="file" name="storeinsideimg" value="" id="file3" placeholder="" onclick="clickimg(3);">
						</div>
						<div class="box-delete none" <?php if(!empty($vo['c_dcode']) && $vo['c_checked']==1 ){ ?> style="display:block"
						<?php } ?> onclick="deleteimg(3)" id="delimg_3"><img src="__IMG__/fc-16.png" alt=""></div>
					</li>
				</ul>

				<div class="step-btn">
					<span href="javascript:;" type="button" id="prev_btn" onclick="PreviousCK()">上一步</span>
					<span href="javascript:;" type="button" id="next_btn" onclick="checkimg(3)">完成</span>
				</div>
			</form>
		</div>
		<div class="mar30"></div>

		<script type="text/javascript">
			var isfixed = '<?php echo $isfixed ?>'; /*0线上，1线下*/
			window.onload = function() {

			}

			function clickimg(id) {
				document.getElementById('file' + id).onchange = function() {
					tempUploadimg('file' + id, 'imgr' + id, 'saveimg_' + id);
				}
				$('#delimg_' + id).css("display", "block");
			}

			/*上一步*/
			function PreviousCK() {
				window.location.href = "__URL__/info_7?isfixed=<?php echo $isfixed; ?>";
			}
			//点击上传图片
			function clickimg(id) {
				document.getElementById('file' + id).onchange = function() {
					tempUploadimg('file' + id, 'imgr' + id, 'saveimg_' + id);
				}
				$('#delimg_' + id).css("display", "block");
			}
			/*清空图片*/
			function deleteimg(id) {
				delUploadimg($('#saveimg_' + id).val());
				$('#saveimg_' + id).val("");
				$('#file' + id).val("");
				$('#imgr' + id).attr("src", "__IMG__/add.jpg");
				$('#delimg_' + id).css("display", "none");
			}
			// 验证上传图片个数
			function checkimg(total) {
				var imgr = "__IMG__/add.jpg";
				for(var i = 1; i <= total; i++) {
					var saveimg = $('#saveimg_' + i).val();
					beforei = $('#imgr' + i).attr("src");
					if(beforei == imgr || saveimg == "") {
						JqueryDialog.Show('请完善相关证件图片！');
						return false;
						break;
					}
				};

				dialogif('确认提交资料？', '提交后将不能进行修改');
			}

			/*提示弹窗*/
			function dialogif(tit, desc) {
				//获取客户端页面宽高
				var _client_width = document.body.clientWidth;
				var _client_height = document.documentElement.scrollHeight;

				//create shadow
				if(typeof($("#jd_shadow")[0]) == "undefined") {
					//前置
					$("body").prepend("<div id='jd_shadow'>&nbsp;</div>");
				}

				//create dialog
				if(typeof($("#jd_dialog")[0]) != "undefined") {
					$("#jd_dialog").remove();
				}
				var show = '';
				show += '<div id="jd_dialog" style="position: fixed;">';
				show += '<div id="jd_dialog_h">' + tit + '</div>';
				show += '<table align="center" id="jd_dialog_c">';
				show += '<tr>';
				show += '<td align="center">' + desc + '</td>';
				show += '</tr>';
				show += '</table>';
				show += '<div id="jd_dialog_b">';
				show += '<div id="jd_dialog_l" onclick="Close_dialog()">取消</div>';
				show += '<div id="jd_dialog_r" onclick="Ok_dialog()" style="background: #45AAFA;color: #fff;">确认</div>';
				show += '</div>';
				show += '</div>';
				$("body").prepend(show);
			}

			function Close_dialog() {
				$("#jd_shadow").remove();
				$("#jd_dialog").remove();
			}

			function Ok_dialog() {
				savestep();
			}

			/*保存*/
			var resign = true;

			function savestep() {
				if(resign) {
					resign = false;
					var attrbul = getFormAttrs('form1');
					$.ajax({
						type: "POST",
						url: '__URL__/SetInfo8',
						data: "attrbul=" + JSON.stringify(attrbul),
						dataType: "json",
						success: function(json) {
							var msg = eval(json);
							if(msg.code == 0) {
								JqueryDialog.Show("提交成功！");
								$("#jd_shadow").remove();
								$("#jd_dialog").remove();
								setTimeout(function() {
									window.location.href = "__URL__/checkinfo";
								}, 2000);
							} else {
								JqueryDialog.Show(msg.msg);
								$("#jd_shadow").remove();
								$("#jd_dialog").remove();
								resign = true;
							}
						}
					});
				}
			}
		</script>

	</body>

</html>