<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no, email=no" />
		<title>关于小蜜与帮助</title>
		<meta content="" name="keywords">
		<meta content="" name="description">
		<include file="Base@Public/header" />
		<link rel="stylesheet" type="text/css" href="__CSS__/about/index.css?v=1.2">
	</head>

	<body class="bgeb">
		<div class="wrap-page">
			<include file="Base@Public/pubheader" />
			<div class="mui-content">
				<div class="about-logo ">
					<div class="about-logo-xm"><img src="__IMG__/about/logo-IOS-04.png" alt=""></div>
					<div class="about-logo-xmfont">小蜜</div>
					<div class="about-logo-num">版本号 V3.0.0</div>
				</div>
				<ul class="setting-list">
					<li>
						<a href="javascript:;">
							<div class="setting-list-txt">版本更新</div>
							<div class="setting-list-arr">
								<img src="__IMG__/about/arr.png" alt="">
							</div>
							<div class="versions-num">已是最新版本</div>
						</a>
					</li>
					<li>
						<a href="__URL__/Aboutmi">
							<div class="setting-list-txt">关于小蜜</div>
							<div class="setting-list-arr">
								<img src="__IMG__/about/arr.png" alt="">
							</div>
						</a>
					</li>
					<li>
						<a href="__URL__/helpmi">
							<div class="setting-list-txt">帮助</div>
							<div class="setting-list-arr">
								<img src="__IMG__/about/arr.png" alt="">
							</div>
						</a>
					</li>
					<li>
						<a href="__URL__/feedback">
							<div class="setting-list-txt">反馈</div>
							<div class="setting-list-arr">
								<img src="__IMG__/about/arr.png" alt="">
							</div>
						</a>
					</li>
				</ul>
				<div class="myinfo-exit bgeb fs14">
					<a href="__APP__/Home/Users/loginout" class="myinfo-exit-btn fs14">退出账号</a>
				</div>
			</div>
		</div>
		<include file="Base@Public/pubjs" />
		<script type="text/javascript">
			window.onload = function() {
				var lih = $('.setting-list li').height();
				$('.setting-list li').css('line-height', lih + 'px')
				$('.setting-list li a').height(lih);
			}
		</script>
	</body>

</html>